<% @page_title = 'Register Collection' %>

<h1>Register Collection</h1>

<%= form_tag collections_path do %>
  <div class="mb-4">
    <label for="apo_druid">
      Admin Policy
    </label>
    <%= select_tag :apo_druid, options_for_select(@apo_list), class: 'form-select' %>
  </div>

  <%= render 'form' %>
<% end %>
