<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @bulk_descmetadata_download.filename %>
</p>

<%= link_to 'Edit', edit_bulk_descmetadata_download_path(@bulk_descmetadata_download) %> |
<%= link_to 'Back', bulk_descmetadata_downloads_path %>
