<turbo-frame id="access-rights">
  <%= access_rights %>
  <% if allows_modification? %>
    <%= link_to edit_rights_item_path(id: id), aria: { label: 'Edit rights' } do %>
      <span class="bi-pencil"></span>
    <% end %>
  <% end %>
</turbo-frame>
