<div class="wide column" style="width:45 em;">
  <dl class="defList">
    <dt>Lifecycle</dt>
    <dd style="width:30 em;">
      <%= render_milestones document, object %>
    </dd>
  </dl>
</div>

<div class="wide column">
  <dl class="defList">
    <dt>Workflows</dt>
    <dd>
      <%= render_workflows document, object %>
    </dd>
  </dl>
</div>

<div style="clear: both">
  <dl class="defList">
    <dt>Events</dt>
    <dd>
      <%= render_events document, object %>
    </dd>
  </dl>
</div>