.DS_Store
.bundle
.dor-services
.powenv
.sass-cache
.*.swp
app/assets/javascripts/jqgrid/
config/certs
config/newrelic.yml
coverage/
db/*.sqlite3
dpg_pool
gem_graph.png
jetty/
/log
public/.htaccess
public/assets
public/images/.dpg_pool
tmp/

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

vendor/ruby/
