.DS_Store
.bundle
.dor-services
.powenv
.sass-cache
.*.swp
config/certs
coverage/
db/*.sqlite3
dpg_pool
gem_graph.png
public/images/.dpg_pool
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
workflow_service.log*
vendor/ruby/
/spec/fixtures/bulk_upload/workspace
.ruby-version
.ruby-gemset
.byebug_history
