.bundle
db/*.sqlite3
log/*.log
tmp/
.DS_Store
dpg_pool
.powenv
public/images/.dpg_pool
config/certs
config/environments
config/solr.yml
public/.htaccess
.dor-services
.sass-cache
public/assets
config/database.yml
app/assets/javascripts/jqgrid/
