rvm use 1.8.7@argo --create
local_gemfile=`pwd`/.bundle/local.gemfile
if [ -e "$local_gemfile" ]
then
  export BUNDLE_GEMFILE="$local_gemfile"
  echo `tput setaf 2`"Using bundle gemfile $local_gemfile"`tput sgr0`
fi
