dist: bionic
sudo: required
services:
  - docker

language: ruby
addons:
  chrome: stable
rvm:
  - 2.6.4 # deployed

email: false

before_install:
  # Get bundler 2.0 for ruby 2.6.4
  - gem install bundler
  # Start Fedora, Solr, and Suri
  - docker-compose up -d solr fcrepo dor-indexing-app suri techmd
  - docker-compose ps
  - google-chrome-stable --headless --disable-gpu --no-sandbox --remote-debugging-port=9222 http://localhost &

before_script:
  - yarn install
  - RAILS_ENV=test bin/rails webpacker:compile
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
  - echo "Waiting for Fcrepo to start"
  - until curl --silent -XGET --fail -o /dev/null http://localhost:8983; do printf '.'; sleep 1; done
  - echo "Waiting for Solr to start"
  - until curl --silent -XGET --fail -o /dev/null http://localhost:8984/solr/#/argo/core-overview; do printf '.'; sleep 1; done

script: RAILS_ENV=test bundle exec rake

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up bundle install
    - CC_TEST_REPORTER_ID=266992849463aa465e0884ad7d582306656214e31ac9245258f93190868cbc9a

cache:
  bundler: true
  directories:
    - node_modules
  yarn: true
