name: 'argo'

services:
  dor-services-app:
    image: suldlss/dor-services-app:latest
    ports:
      - 3003:3000
    environment:
      DATABASE_NAME: dor-services-app
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: sekret
      DATABASE_HOSTNAME: db
      DATABASE_PORT: 5432
      WORKFLOW_DATABASE_NAME: workflow-server
      WORKFLOW_DATABASE_USERNAME: postgres
      WORKFLOW_DATABASE_PASSWORD: sekret
      WORKFLOW_DATABASE_HOSTNAME: db
      WORKFLOW_DATABASE_PORT: 5432
      RAILS_LOG_TO_STDOUT: 'true'
      SECRET_KEY_BASE: 769171f88c527d564fb65b4b7ef712d5ae9761a21e26a41cd7c88eb0af89c74f857b9be4089119f71cf806dfc8bf9d9d2f0df91c00b119c96f462b46ebf43b0f
      SOLR_URL: http://solr:8983/solr/argo
      SETTINGS__ENABLED_FEATURES__CREATE_UR_ADMIN_POLICY: 'true'
      SETTINGS__SOLR__URL: http://solr:8983/solr/argo
      SETTINGS__SURI__URL: http://suri:3000
      SETTINGS__RABBITMQ__ENABLED: 'false'
      SETTINGS__VERSION_SERVICE__SYNC_WITH_PRESERVATION: 'false'
      SETTINGS__REDIS_URL: redis://redis:6379/
      SETTINGS__ROBOTS_REDIS_URL: redis://redis:6379/
    depends_on:
      - db
      - suri
      - redis
      - solr

  sdr-api:
    image: suldlss/sdr-api:latest
    ports:
      - 3006:3000
    environment:
      DATABASE_NAME: sdr
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: sekret
      DATABASE_HOSTNAME: db
      DATABASE_PORT: 5432
      RAILS_LOG_TO_STDOUT: 'true'
      USER_EMAIL: argo@dlss.sul.stanford.edu
      USER_PASSWORD: notusedanywhere
      SECRET_KEY_BASE: 769171f88c527d564fb65b4b7ef712d5ae9761a21e26a41cd7c88eb0af89c74f857b9be4089119f71cf806dfc8bf9d9d2f0df91c00b119c96f462b46ebf43b0f
      SETTINGS__DOR_SERVICES__URL: http://dor-services-app:3000/
      # To generate the token: docker-compose run dor-services-app rake generate_token
      SETTINGS__DOR_SERVICES__TOKEN: eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJGb28ifQ.-BVfLTW9Q1_ZQEsGv4tuzGLs5rESN7LgdtEwUltnKv4
    depends_on:
      - db
      - dor-services-app

  solr:
    image: solr:9.10.0
    volumes:
      - ./solr_conf/conf/:/myconfig
    command: solr-create -c argo -d /myconfig
    ports:
      - 8983:8983

  suri:
    image: suldlss/suri-rails:latest
    ports:
      - 3002:3000
    depends_on:
      - db
    environment:
      DATABASE_NAME: suri
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: sekret
      DATABASE_HOSTNAME: db
      DATABASE_PORT: 5432
      RAILS_LOG_TO_STDOUT: 'true'

  db:
    image: postgres:15 # use the highest version that works with all the services herein
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=sekret
    volumes:
      - postgres-data:/var/lib/postgresql/data

  techmd:
    image: suldlss/technical-metadata-service:latest
    environment:
      DATABASE_NAME: technical_metadata
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: sekret
      DATABASE_HOSTNAME: db
      DATABASE_PORT: 5432
      RAILS_LOG_TO_STDOUT: "true"
      REDIS_URL: redis://redis:6379/
    ports:
      - 3005:3000
    depends_on:
      - db
      - redis

  redis:
    image: redis
    ports:
     - 6379:6379

volumes:
  postgres-data:
