version: '3.6'

services:
  web:
    build: .
    volumes:
      - ./:/app
      - node_modules:/usr/src/app/node_modules
    working_dir: /app
    command: puma
    ports:
      - 3000:3000
    environment:
      NODE_ENV: development
      ROLES: sdr:administrator-role
      REMOTE_USER: blalbrit@stanford.edu
      RAILS_LOG_TO_STDOUT: 'true'
      SOLR_URL: http://solr:8983/solr/argo
      # Allow bulk action logs to be written (can't write to /tmp)
      SETTINGS__BULK_METADATA__DIRECTORY: '/app/tmp'
      SETTINGS__BULK_METADATA__TEMPORARY_DIRECTORY: '/app/tmp/tmp'
      SETTINGS__SOLRIZER_URL: http://solr:8983/solr/argo
      SETTINGS__FEDORA_URL: http://fedoraAdmin:fedoraAdmin@fcrepo:8080/fedora
      SETTINGS__SURI__URL: http://suri:3000
      SETTINGS__WORKFLOW_URL: http://workflow:3000
      SETTINGS__DOR_SERVICES__URL: http://dor-services-app:3000
      # To generate the token: docker-compose run dor-services-app rake generate_token
      SETTINGS__DOR_SERVICES__TOKEN: eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJGb28ifQ.-BVfLTW9Q1_ZQEsGv4tuzGLs5rESN7LgdtEwUltnKv4
      SETTINGS__CONTENT__SDR_SERVER_URL: http://dor-services-app:3000/v1/sdr

  dor-services-app:
    image: suldlss/dor-services-app:latest
    ports:
      - 3003:3000
    environment:
      DATABASE_NAME: dor-services-app
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: sekret
      DATABASE_HOSTNAME: db
      DATABASE_PORT: 5432
      SOLR_URL: http://solr:8983/solr/argo
      SETTINGS__solr__url: http://solr:8983/solr/argo
      SETTINGS__FEDORA_URL: http://fedoraAdmin:fedoraAdmin@fcrepo:8080/fedora
      SETTINGS__SURI__URL: http://suri:3000
      SETTINGS__WORKFLOW_URL: http://workflow:3000
      SETTINGS__DOR__SERVICE_USER: dor-service-user
      SETTINGS__DOR__SERVICE_PASSWORD: dor-service-password
    depends_on:
      - db
  solr:
    image: solr:7
    volumes:
      - ./solr_conf/conf/:/myconfig
    command: solr-create -c argo -d /myconfig
    ports:
      - 8984:8983

  fcrepo:
    image: suldlss/fcrepo:no-messaging-latest
    ports:
      - 8983:8080

  suri:
    image: suldlss/suri-rails:latest
    ports:
      - 3002:3000
  db:
    image: postgres
     # No ports shared externally, so that this doesn't conflict with the postgres
     # server that TravisCI starts up.
     # ports:
     #   - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=sekret
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  workflow:
    image: suldlss/workflow-server:latest
    environment:
      - RAILS_LOG_TO_STDOUT=true
      - DATABASE_NAME=workflow-server
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=sekret
      - DATABASE_HOSTNAME=db
      - DATABASE_PORT=5432
      - SETTINGS__DOR_SERVICES__URL=http://dor-services-app:3000
      - SETTINGS__DOR_SERVICES__TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJGb28ifQ.-BVfLTW9Q1_ZQEsGv4tuzGLs5rESN7LgdtEwUltnKv4
      - SETTINGS__ENABLE_STOMP=false
      - SETTINGS__REDIS__HOSTNAME=redis
    depends_on:
      - db
      - redis
    ports:
      - 3001:3000

  redis:
    image: redis
    # No external ports enabled.
#    ports:
#      - 6379:6379
volumes:
  node_modules:
