
<div class='mb-3'>
  <%= f.label :description, 'Describe this bulk action' %>
  <%= f.text_area :description, class: 'form-control' %>
</div>
<div class=''>
  <button type='submit' class='btn btn-primary'>Submit</button>
</div>
