<div role='tabpanel' class='tab-pane' id='ChecksumReportJob'>
  <span class='help-block'>
    Download checksums of files in objects (as csv).
  </span>
</div>

<div role='tabpanel' class='tab-pane' id='DescmetadataDownloadJob'>
  <span class='help-block'>
    Download descriptive metadata for objects.
  </span>
</div>
