<div class="modal-header">
  <h3 class="modal-title"><%= header %></h3>
  <button type='button' class='btn-close' data-bs-dismiss='modal' aria-hidden='true'></button>
</div>

<div class="modal-body">
  <%= body %>
</div>

<div class="modal-footer">
  <%= footer %>
  <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
</div>
