<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 class="modal-title"><%= header %></h3>
</div>

<div class="modal-body">
  <%= body %>
</div>

<div class="modal-footer">
  <%= footer %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
