<li class="d-inline-flex gap-2 align-items-center <%= classes %>">
    <span class="bg-light rounded-pill border applied-filter constraint">
        <span class="constraint-value">
            <% if label.present? %>
                <span class="filter-name"><%= label %></span>
            <% end %>
            <% if value.present? %>
                <%= tag.span(value, class: 'filter-value', title: strip_tags(value)) %>
            <% end %>
        </span>
        <%= link_to('', remove_path, class: 'btn btn-close remove', type: 'button', 'aria-label': remove_aria_label) if remove_path.present? %>
    </span>
</li>
