<turbo-frame id="project-tag-facet" src="<%= lazy_project_tag_facet_catalog_path(helpers.search_state.params_for_search) %>" target="_top">
  <div class="card facet-limit blacklight-exploded_project_tag_ssim">
    <h3 class="card-header p-0 facet-field-heading" id="facet-exploded_project_tag_ssim-header">
      <button type="button" disabled style="pointer-events: auto; cursor: wait" class="btn w-100 d-block btn-block p-2 text-start collapse-toggle collapsed" aria-expanded="false">
        Project Tag
      </button>
    </h3>
  </div>
</turbo-frame>
