<div class="accordion-item">
  <h2 class="accordion-header" id="document-techmd-heading">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#document-techmd-section" aria-expanded="false" aria-controls="document-techmd-section">
      Technical metadata
    </button>
  </h2>
  <div id="document-techmd-section" class="accordion-collapse collapse" aria-labelledby="document-techmd-heading">
    <div class="accordion-body">
      <turbo-frame id="techmd" src="<%= item_technical_path(view_token) %>" loading="lazy"></turbo-frame>
    </div>
  </div>
</div>
