<h2>Workflow: <%= workflow_name %></h2>
<table class='table table-striped table-hover table-condensed workflow-grid-table'>
  <thead>
    <tr>
      <th class="process" colspan="2">Process</th>
      <th class="description">Description</th>
      <th class="count waiting info">Waiting</th>
      <th class="count ready warning">Ready</th>
      <th class="count started warning">Started</th>
      <th class="count errors danger">Error</th>
      <th class="count skipped success">Skipped</th>
      <th class="count completed success">Completed</th>
    </tr>
  </thead>
  <tbody>
    <%= render WorkflowTableProcessComponent.with_collection(workflow_process_names, name: name, data: data) %>
  </tbody>
</table>
<hr>
