/* Import the common SUL styles from the sul_styles gem (colors, icons). */
@import 'sul-styles'

#header-navbar 
  .navbar-brand
    background: transparent image_url('/assets/argonauta.png') no-repeat top left
    background-size: auto 65px

#header-navbar.navbar-static-top
  background-color: $color-cardinal-red
  color: white
  a
    color: white

a.no-underline
  text-decoration: none
  border-bottom: none

table
  border-collapse: collapse
  border-spacing: 0

.ext-link
  background: url('/assets/icon-external-link.png') right 3px no-repeat
  padding-right: 13px

#bd, #bd #sidebar
  overflow: visible !important

.modal-content
  padding: 10px 25px

.header-column
  padding-left: 2px
  padding-right: 2px

.spreadsheet-row
  margin-top: 15px

.spreadsheet-radio
  margin-top: 0px

.spreadsheet-checkbox
  margin-top: -2px
  margin-left: 8px
  padding-left: 14px

.spreadsheet-help-row
  margin-bottom: 10px

#bulk-upload-table
  padding-top: 16px
  padding-bottom: 16px

#content #spreadsheet-start-header
  padding-top: 20px
  margin-left: 0px
  margin-right: 0px


#facets
  .facet-count
    margin-left: .5em
  a.remove
    margin-left: .5em
    float: right
    &:after
      color: red
      content: '[X]'
.show_sidebar
  ul
    list-style-type: none
.blacklight-wf_error_display
  color: red
#doc4
  width: 100%

.apo-register-error
  color: red

.impersonating-highlight
  display: inline
  color: red
  font:
    weight: bold

#report_container
  margin-top: 1.5em
.fileUpdate

  margin: 5px
.register-label-div
  width: 90px
  float: left
.collection-register-label-div
  width: 180px
  float: left
.register-role-input
  width: 845px
#mods_view
  dl
    dt
      float: left
      color: #555
      min-width: 9.5em
      padding: 0 5px 0 0
      text-align: left
      width: 11em
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
    dd
      padding: 0
      margin-left: 11.6em

.bulk_button
  cursor: pointer
  width: 100px
  padding: 4px 6px
  height: 25px
  line-height: 25px
  background: #4479BA
  color: #FFF
  font: Arial
  border: 1px solid #84bbf3
a.button
  width: 115px
  text-align: left
  display: block
  margin-bottom: 3px
.btn
  font-size: 12px
  line-height: 14px
  margin-bottom: 1px
a.button:hover
  background: #4479BA !important
.CodeRay
  pre
    border: none !important
    white-space: pre-wrap
    font-family: consolas,andale mono,monospace
.nonblockingForm
  display: inline
.ui-dialog
  top: 200px !important
.lightBox
  dl.defList
    dt
      text-align: left
      padding: 2px 0px
      width: 10%
    dd
      width: 85%

#sortAndPerPage
  float: right
  background-color: inherit
  border: none
  padding: 0


.pagination
  border-width: 0px 1px 1px
  .prev_page
    position: relative
    left: auto
  .next_page
    position: relative
    right: auto

#documents+.pagination
  border-top-width: 1px

.pageEntriesInfo
  display: none

#previousNextDocument
  padding: 0.8em
  border-top: 0
  .next
    float: none
  .disabled
    color: #AAA

.reportToggle
  width: auto
  text-align: right
  float: right
  padding-top: .2em
  a
    width: 2em
    padding: .4em .5em
