<span class="section-head-link">
  View:
  <%= link_to 'XML', item_workflow_path(item_id: @presenter.pid, id: @presenter.workflow_name, raw: 'true', repo: params[:repo]),
              title: @presenter.workflow_name,
              data: { blacklight_modal: 'trigger' } %>
</span>
<%= @presenter.pid %>

<table class="detail table">
  <thead>
    <tr>
      <th></th>
      <th>Process</th>
      <th>Status</th>
      <th>Reset</th>
      <th>When</th>
      <th>Seconds elapsed</th>
      <th>Attempts</th>
      <th>Lifecycle</th>
    </tr>
  </thead>
  <tbody>
    <% if @presenter.processes.any? %>
      <% @presenter.processes.each_with_index do |process, index| %>
        <%= render WorkflowProcessRow, index: index, process: process, item: @object %>
      <% end %>
    <% else %>
      <tr><td colspan="8">No processes defined for this workflow.</td></tr>
    <% end %>
  </tbody>
</table>
