<div class='modal-header'>
  <h3 class='modal-title'>Workflow view</h3>
  <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
</div>

<div class='modal-body'>
  <% if params[:raw] %>
    <%= @presenter.pretty_xml %>
  <% else %>
    <%= render 'show' %>
  <% end %>
</div>
