<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.with_title { 'Workflow view' } %>
  <% component.with_body do %>
    <div class="modal-body">
      <% if params[:raw] %>
        <%= @presenter.pretty_xml %>
      <% else %>
        <%= render 'show' %>
      <% end %>
    </div>
  <% end %>
<% end %>
