a.no-underline
  text-decoration: none
  border-bottom: none

.ext-link
  background: url('/images/icon-external-link.png') right 3px no-repeat
  padding-right: 13px
  
#workflow_grid
  margin-top: 1.5em
  
  .thumbnail
    float: left
    width: 65em
    border: 1px solid #999
    margin: 1em 1em 1em 1em
    padding: 2px
    text-align: left
    img
      border: 1px solid #aaa
    p
      margin: 0em 2em 0em 0em

  .clearboth
    clear: both

  table
    border-collapse: collapse
    border-spacing: 0
    width: 100%

    th
      font-weight: normal !important
      padding: 5px
      color: #ffffff
      border-top: 1px solid #C2B7A1
      border-left: 1px solid #EDE8DD
      border-right: 1px solid #EDE8DD
      border-bottom: 1px solid #EDE8DD

    td
      border-left: 1px solid #EDE8DD
      border-right: 1px solid #EDE8DD
      border-bottom: 1px solid #C2B7A1
      padding: 5px

  h2
    color: #990000
    font-weight: normal

  a
    color: #2E4F81

#doc4
  width: 100%

  
div.document
  h3.index_title
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  img.index-thumb
    float: left
    height: 100px
    width: 100px
    margin: 4px 0px
  dl.deflist
    margin-left: 108px
    clear: right
    dt
      text-align: left
      width: 4.5em
  &.blacklight-map
    min-height: 124px
