a.no-underline
  text-decoration: none
  border-bottom: none

.ext-link
  background: url('/images/icon-external-link.png') right 3px no-repeat
  padding-right: 13px
  
#facets
  padding: 1em 0 0 0 !important
  
#workflow_grid
  margin-top: 1.5em
  
  .thumbnail
    float: left
    width: 65em
    border: 1px solid #999
    margin: 1em 1em 1em 1em
    padding: 2px
    text-align: left
    img
      border: 1px solid #aaa
    p
      margin: 0em 2em 0em 0em

  .clearboth
    clear: both

  table
    border-collapse: collapse
    border-spacing: 0
    width: 100%

    th
      font-weight: normal !important
      padding: 5px
      color: #ffffff
      border-top: 1px solid #C2B7A1
      border-left: 1px solid #EDE8DD
      border-right: 1px solid #EDE8DD
      border-bottom: 1px solid #EDE8DD

    td
      border-left: 1px solid #EDE8DD
      border-right: 1px solid #EDE8DD
      border-bottom: 1px solid #C2B7A1
      padding: 5px

  h2
    color: #990000
    font-weight: normal

  a
    color: #2E4F81

#doc4
  width: 100%

div.document
  h3.index_title
    margin-left: 1.5em
    text-indent: -1.5em
  div.index-thumb-container
    float: left
    width: 100px
    margin: 4px 2em 4px 0px
  div.document-thumb-container
    float: right
    margin-bottom: 1em
  #document-sections h4
    font-size: 120%
    color: #2A306C

  &.has-thumbnail
    min-height: 124px

dl.deflist
  clear: left !important
  dt
    text-align: left
    width: 7.5em
  dd
    width: 80%

div.column
  float: left
  &.narrow
    width: 25em
    dd
      width: 15em
  &.wide
    width: 35em
    dd
      width: 25em
  
h1,h2,h3,h4,h5,h6
  &.inline
    display: inline
    width: 2em
  
h3.section-head
  display: block
  clear: both
  width: 100%
  padding: 2px
  color: #2A306C
  background-color: #D4E0E0
  &.collapsible-section
    padding-left: 18px
    background-position: left center
    background-repeat: no-repeat
    background-image: url('hierarchy/expanded_lg.png') 
    &.collapsed
      background-image: url('hierarchy/collapsed_lg.png') 

.section-head-link
  float: right
  font-weight: normal

.lightbox-head
  color: #868EAC
  
.errortext
  color: red
  
.clear
  clear: both
  
pre.prettyprint
  border: none !important
  white-space: pre-wrap
  font-family: consolas,andale mono,monospace
  font-size: 125%

.lightBox
  dl.defList 
    dt
      text-align: left
      padding: 2px 0px
      width: 10%
    dd 
      width: 85%

table.detail
  thead
    border-bottom: 1px solid
  th,td
    font-weight: normal
    text-align: left
    padding: 0em 2em .5em 0em 

