<% extra_head_content << capture do %>
<script type="text/javascript">
  $(document).ready(function() {
    $('.collapsible-section').click(function() { $(this).next('div').slideToggle(); $(this).toggleClass('collapsed') })
  });
</script>
<% end %>

<% sidebar_items << capture do %>
  <%= render :partial => '/catalog/_show_partials/external_links', :locals => { :document => @document } %>
  <%= render :partial => '/catalog/_show_partials/embargo_sidebar', :locals => { :document => @document } %>
<% end %>

<div id="document-sections">
  <%= render_document_sections(@document,:show) %>
</div>