<% 
  ensure_current_document_version if Argo::Config[:reindex_on_the_fly]
  @footer = "Argo v#{Argo.version} / DOR Services v#{@document.get(ActiveFedora::SolrService.solr_name('dor_services_version',:string,:facetable))}"
%>

<% sidebar_items << capture do %>
  <%= render :partial => '/catalog/_show_partials/external_links', :locals => { :document => @document } %>
  <%= render :partial => '/catalog/_show_partials/embargo_sidebar', :locals => { :document => @document } %>
<% end %>

<div id="document-sections">
  <%= render_document_sections(@document,:show) %>
</div>