<table class="detail">
  <thead>
  <tr><th>what</th><th>when</th></tr>
  </thead>
  <tbody>
  <% milestones.each_pair do |k,m| %>
    <tr><td><%= m[:display] %></td><td><%= if (m[:time]=='pending') then m[:time] else l m[:time] end%></td></tr>
  <% end %>
  </tbody>
</table>
