html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 75%; }

body {
  background-color: #4f4f4f;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Arial Unicode MS", Helvetica, sans-serif; }

#container {
  position: relative;
  width: 94%;
  margin: 0 auto;
  text-align: left; }

#header {
  height: 30px;
  overflow: hidden; }
  #header img {
    vertical-align: text-bottom; }
  #header .text {
    display: inline-block;
    color: white;
    font-size: 14px; }
  #header .right {
    float: right;
    padding-top: 3px;
    font-weight: bold; }

#content {
  padding: 0px; }
