html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 75%; }

body {
  background-color: #4f4f4f;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Arial Unicode MS", Helvetica, sans-serif; }

#container {
  position: relative;
  width: 94%;
  margin: 0 auto;
  text-align: left; }

#header {
  height: 30px;
  overflow: hidden; }
  #header img {
    vertical-align: text-bottom; }
  #header .text {
    display: inline-block;
    color: white;
    font-size: 14px; }
  #header .right {
    float: right;
    padding-top: 3px;
    font-weight: bold; }

#content {
  padding: 0px; }

#data thead {
  font-weight: bold; }

#t_data {
  height: 28px; }

#icons {
  padding: 0; }
  #icons button {
    margin: 2px; }

#dialogs {
  display: none; }

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

#dynamic {
  position: relative; }

#id_list {
  position: absolute;
  display: none;
  resize: none; }

#properties_dialog table {
  font: inherit; }
#properties_dialog td.label {
  width: 100px; }
#properties_dialog td.control {
  width: auto; }
#properties_dialog label {
  font-weight: bold;
  display: inline-block;
  width: 100%; }
#properties_dialog input, #properties_dialog select {
  width: 100%; }

.button-group {
  margin-right: 4px; }
