#data thead {
  font-weight: bold; }

#t_data {
  height: 28px; }

#icons {
  padding: 0; }
  #icons button {
    margin: 2px; }

#dialogs {
  display: none; }

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

#dynamic {
  position: relative; }

#id_list {
  position: absolute;
  display: none;
  resize: none; }

#properties_dialog table {
  font: inherit; }
#properties_dialog td.label {
  width: 100px; }
#properties_dialog td.control {
  width: auto; }
#properties_dialog label {
  font-weight: bold;
  display: inline-block;
  width: 100%; }
#properties_dialog input, #properties_dialog select {
  width: 100%; }

.button-group {
  margin-right: 4px; }
