    <footer role="contentinfo">
      <section id="pre-footer" class="py-4">
        <div class="container">
          <div class="row">
          <div id="sul-footer-img" class="col-md-2">
            <%= link_to 'https://library.stanford.edu' do %>
              <%= image_tag 'sul-logo-stacked.svg', alt: 'Stanford Libraries', height: 45 %>
            <% end %>
          </div>
          <div class="col">
            <ul class="list-unstyled d-flex mt-3">
              <li><a href="https://library-hours.stanford.edu/" class="px-2">Hours &amp; locations</a></li>
              <li><a href="https://mylibrary.stanford.edu/" class="px-2">My Account</a></li>
              <li><a href="https://library.stanford.edu/contact-us" class="px-2">Ask us</a></li>
              <li><a href="https://library-status.stanford.edu/" class="px-2">System status</a></li>
            </ul>
          </div>
        </div>
      </section>

      <div role="contentinfo" class="su-global-footer py-4">
        <div class="container">
          <div class="row">
            <div class="col-sm-2">
              <a href="https://www.stanford.edu">
                <img src="https://www-media.stanford.edu/su-identity/images/footer-stanford-logo@2x.png" alt="Stanford University" width="105" height="49">
              </a>
            </div>

            <div class="col-sm-10">
              <ul class="list-unstyled d-flex mb-1 su-global-footer__menu--global">
                <li><a href="https://www.stanford.edu" class="px-2">Stanford Home</a></li>
                <li><a href="https://visit.stanford.edu/plan/" class="px-2">Maps & Directions</a></li>
                <li><a href="https://www.stanford.edu/search/" class="px-2">Search Stanford</a></li>
                <li><a href="https://emergency.stanford.edu" class="px-2">Emergency Info</a></li>
              </ul>
              <ul class="list-unstyled d-flex mb-1 su-global-footer__menu--policy">
                <li><a href="https://www.stanford.edu/site/terms/" title="Terms of use for sites" class="px-2">Terms of Use</a></li>
                <li><a href="https://www.stanford.edu/site/privacy/" title="Privacy and cookie policy" class="px-2">Privacy</a></li>
                <li><a href="https://uit.stanford.edu/security/copyright-infringement" title="Report alleged copyright infringement" class="px-2">Copyright</a></li>
                <li><a href="https://adminguide.stanford.edu/chapter-1/subchapter-5/policy-1-5-4" title="Ownership and use of Stanford trademarks and images" class="px-2">Trademarks</a></li>
                <li><a href="http://exploredegrees.stanford.edu/nonacademicregulations/nondiscrimination/" title="Non-discrimination policy" class="px-2">Non-Discrimination</a></li>
                <li><a href="https://www.stanford.edu/site/accessibility" title="Report web accessibility issues" class="px-2">Accessibility</a></li>
              </ul>
              <div class="su-global-footer__copyright ms-2">
                <span>© Stanford University.</span>
                <span>&nbsp; Stanford, California 94305.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
