<div data-controller="tokens" data-tokens-url="<%= tokens_path %>" class="col-md-3 col-md-offset-1">
  <div class="form-group" data-target="tokens.button">
    <button data-action="click->tokens#fetchToken" class="btn btn-default">Generate new token</button>
  </div>
  <div data-target="tokens.result" style="display: none" class="form-group">
    <label for="token">Token</label>
    <input id='token' data-target="tokens.output" class="form-control">
  </div>
</div>
