<div data-controller="tokens" data-tokens-url="<%= tokens_path %>" class="col-md-3 col-md-offset-1">
  <div class="mb-3" data-tokens-target="button">
    <button data-action="click->tokens#fetchToken" class="btn btn-secondary">Generate new token</button>
  </div>
  <div data-tokens-target="result" style="display: none" class="mb-3">
    <label for="token">Token</label>
    <input id='token' data-tokens-target="output" class="form-control">
  </div>
</div>
