<div class='form-group'>
  <label>List of catkeys*</label>
  <textarea id='bulk_action_manage_catkeys_catkeys' name='bulk_action[manage_catkeys][catkeys]' class='form-control' rows='10'>
  </textarea>
  <span class='help-block'>* must be same length as list of druids and in same order to update ... add a blank line to delete existing catkey</span>
</div>
