<% f.fields_for :set_source_ids_csv do |source_id_fields| %>
  <div class='mb-3'>
    <%= source_id_fields.label :csv_file, 'Upload a CSV file' %>
    <p><small><em>Please note that there should be headers for:
    <ul>
      <li>druid</li>
      <li>source_id</li>
    </ul>
    </em></small></p>
    <%= source_id_fields.file_field :csv_file, class: 'form-control', accept: '.csv' %>
  </div>
<% end %>
