body
  font-family: sans-serif
  font-size: .875em

#header
  background-image: url(/images/body_bg2.jpg)
  background-repeat: repeat-x
  height: 100px
  
label
  display: inline-block
  width: 200px
  vertical-align: top
  font-weight: bold

td
  vertical-align: top
  
td.statusicon
  width: 18px
  
td.index
  width: 40px

td.identifier,td.druid
  width: 150px

td.label
  
thead
  font-weight: bold