.default-text
  color: #cbcbcb
  
.edit-cell input
  font-size: 11px

.ui-jqgrid-title
  font-size: 150%

ul.simpleTreeMenu a, ul.simpleTreeMenu a:visited
  display: inline
  
ul.simpletreemenu li.leaf
  list-style-image: none
  list-style-type: none
