<turbo-frame id="events">
  <table class="detail">
    <thead>
      <tr><th>When</th><th>Event type</th><th>Data</th></tr>
    </thead>
    <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= l(DateTime.parse(event.timestamp), format: :event) %></td>
        <td><%= event.event_type %>
        <td>
          <div data-controller="events-json-renderer">
            <div class="row">
              <div class="col">
                <a class="btn btn-primary" data-action="events-json-renderer#expand">
                  <span class="bi-plus" />
                </a>
                <a class="btn btn-primary " data-action="events-json-renderer#collapse">
                  <span class="bi-dash" />
                </a>
                <script data-events-json-renderer-target="events">
                <%= EventHashPresenter
                      .new(event: event.data)
                      .render
                      .to_json
                      .html_safe %>
                </script>
              </div>
              <div class="col">
                <div class="detail" data-events-json-renderer-target="eventsSection"></div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</turbo-frame>
