<turbo-frame id="events">
  <table class="table">
    <thead>
      <tr class="d-flex">
        <th style="width: 200px;">When</th>
        <th style="width: 200px;">Event type</th>
        <th class="flex-grow-1">Data</th>
      </tr>
    </thead>
    <tbody>
    <% @events.each do |event| %>
      <tr class="d-flex">
        <td style="width: 200px;"><%= l(DateTime.parse(event.timestamp), format: :event) %></td>
        <td style="width: 200px;"><%= event.event_type %></td>
        <td class="flex-grow-1">
          <%= tag.div data: {
                controller: 'json-renderer',
                json_renderer_cocina_value: EventHashPresenter.new(event:).render.to_json
              } do %>
              <a href="#" data-action="json-renderer#expand">Expand all</a> |
              <a href="#" data-action="json-renderer#collapse">Collapse all</a>

              <div class="detail" data-json-renderer-target="section"></div>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</turbo-frame>
