<turbo-frame id="events">
  <table class="detail">
    <thead>
      <tr><th>When</th><th>Event type</th><th>Data</th></tr>
    </thead>
    <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= l(DateTime.parse(event.timestamp), format: :event) %></td>
        <td><%= event.event_type %>
        <td>
          <div data-controller="events-json-renderer">
            <div class="row">
              <div class="col d-flex ">
                <div class="p-2">
                  <a class="btn btn-primary" data-action="events-json-renderer#toggle">
                    <span data-events-json-renderer-target="toggle" class="bi-plus" />
                  </a>
                  <script data-events-json-renderer-target="events">
                    [<%= EventHashPresenter
                          .new(event:)
                          .render
                          .to_json
                          .html_safe %>]
                  </script>
                </div>
                <div class="p-2">
                  <div class="detail" data-events-json-renderer-target="eventsSection"></div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</turbo-frame>
