<turbo-frame id="events">
  <table class="detail">
    <thead>
      <tr><th>When</th><th>Event type</th><th>Data</th></tr>
    </thead>
    <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><time-ago datetime="<%= event.timestamp %>"><%= event.timestamp %></time-ago></td>
        <td><%= event.event_type %></td>
        <td data-controller="expandable-snippets">
          <pre data-expandable-snippets-target="snippet"><%= JSON.pretty_generate(event.data) %></pre>
          <button data-expandable-snippets-target="viewMoreLink" data-action="expandable-snippets#expand" hidden type="button" class="btn btn-link">
            View more <span class="bi-arrow-bar-down" />
          </a>
          <button data-expandable-snippets-target="viewLessLink" data-action="expandable-snippets#collapse" hidden type="button" class="btn btn-link">
            View less <span class="bi-arrow-bar-up" />
          </a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</turbo-frame>
