<li class="resource">
  <ul class="child-list">
    <li class="external-file">
      <span class="label">
        External File
      </span>
      (from item '<%= link_to druid, solr_document_path(druid), target: '_top' %>')
    </li>
  </ul>
</li>
