<li class="resource">
  <span class="label">Resource (<%= resource_counter %>)</span> <%= type %>
  <% if label %>
    <br><span class="label">Label</span> <%= label %>
  <% end %>
  <ul class="child-list">
    <%= render Contents::FileComponent.with_collection(files, viewable: viewable?) %>
    <%# TODO: external files%>
  </ul>
</li>
