<li class="resource">
  <dl class="dl-horizontal">
    <dt>Resource (<%= resource_counter %>)</dt>
    <dd><%= type %></dd>
    <% if label %>
      <dt>Label</dt>
      <dd><%= label %></dd>
    <% end %>
  </dl>
  <table class="resource-files table">
    <thead>
      <tr>
        <th>File name</th>
        <th>Type</th>
        <th>Size</th>
        <% if image? %> 
          <th>Height</th>
          <th>Width</th>
        <% end %>
        <th>Role</th>
        <th>Publish</th>
        <th>Shelve</th>
        <th>Preserve</th>
        <th>View</th>
        <th>Download</th>
      </tr>

    <%= render Contents::FileComponent.with_collection(files, object_id: object_id, viewable: viewable?, image: image?) %>
  </table>
</li>
