<div class="d-flex justify-content-end">
  <%= helpers.paginate paginatable_array, theme: :blacklight %>
</div>
<ul class="resource-list">
  <%= render Contents::ResourceComponent.with_collection(paginatable_array, counter_offset: paginatable_array.offset_value, object_id: object_id, viewable: viewable?) %>
  <%= render Contents::ExternalFileComponent.with_collection(structural.hasMemberOrders.first&.members) %>
</ul>
