<table class="table table-sm mb-5 caption-header">
    <caption>Default object rights</caption>
    <tbody>
      <tr>
        <th class="col-3" scope="row">Access rights</th>
        <td>
            <%= access_rights %>
        </td>
      </tr>

      <tr>
        <th class="col-3" scope="row">Copyright</th>
        <td>
            <%= copyright %>
        </td>
      </tr>

      <tr>
        <th class="col-3" scope="row">License</th>
        <td>
            <%= license %>
        </td>
      </tr>

      <tr>
        <th class="col-3" scope="row">Use and reproduction</th>
        <td>
            <%= use_and_reproduction %>
        </td>
      </tr>
    </tbody>
  </table>
