<table class="table table-sm mb-5 caption-header">
    <caption>Details</caption>
    <tbody>
      <tr>
        <th class="col-3" scope="row">Object type</th>
        <td>
            <%= object_type %>
        </td>
      </tr>

      <tr>
        <th class="col-3" scope="row">Project</th>
        <td>
          <%= render Show::ProjectTagComponent.new(document: @presenter.document) %>
        </td>
      </tr>

      <tr>
        <th class="col-3" scope="row">Created</th>
        <td>
            <%= l created_date, format: :long if created_date %>
        </td>
      </tr>

      <tr>
        <th class="col-3" scope="row">Tags</th>
        <td>
          <%= render Show::TagsComponent.new(document: @presenter.document) %>
        </td>
      </tr>
    </tbody>
  </table>
