<table class="table table-sm mb-5 border">
    <thead class="table-light header">
      <tr>
        <th>Group name</th>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render Show::Apo::GrantComponent.with_collection(permissions) %>
    </tbody>
  </table>
