<style>
img.resize{
	width:9px; /* you can use % */
	height: auto;
}
</style>

<%
wf = ''
@robots.each do |robot|
	
	%>
	<br>
	<%
	if wf != robot.wf
	wf = robot.wf
	%><br>
	<h2><%=robot.wf%></h2>
	
	<%
	end
	%>
	<% if robot.status == 'activity' %>
		<img class="resize" src="/assets/Green_Light_Icon.svg"/>
	<%else%>
	<% if robot.status_long == 'activity'%>
		<img class="resize" src="/assets/Yellow_Light_Icon.svg"/>
	<% else %>
	<%if robot.status == 'sleep'%>
		<img class="resize" src="/assets/Blue_Light_Icon.svg"/>
	<%else%>
		<img class="resize" src="/assets/Red_Light_Icon.svg"/>
	<%end%>
	<%end%>
	<%end%>
	<%=link_to(robot.process, robot_url(robot)) %>
	<%
end	
%><br><br><br>
	<img class="resize" src="/assets/Green_Light_Icon.svg"/> Active in the last hour<br>
	<img class="resize" src="/assets/Yellow_Light_Icon.svg"/> Active in the last 4 hours<br>
	<img class="resize" src="/assets/Blue_Light_Icon.svg"/> No work in the queue<br>
	<img class="resize" src="/assets/Red_Light_Icon.svg"/> Work do do, but nothing done in the last 4 hours <br>
