<div class='col-md-12'>
  <% wf = '' %>
  <% @robots.each do |robot| %>
    <% if wf != robot.wf %>
      <% wf = robot.wf %>
      <h2><%= robot.wf %></h2>
    <% end %>
    <% if robot.status == 'activity' %>
      <span class='label label-success'>&nbsp;</span>
    <% else %>
      <% if robot.status_long == 'activity'%>
        <span class='label label-warning'>&nbsp;</span>
      <% else %>
        <% if robot.status == 'sleep' %>
          <span class='label label-primary'>&nbsp;</span>
        <% else %>
          <span class='label label-danger'>&nbsp;</span>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to(robot.process, robot_url(robot)) %><br>
  <% end %>
  <hr>
  <ul class='list-unstyled'>
    <li>
      <span class='label label-success'>Active in the last hour</span>
    </li>
    <li>
      <span class='label label-warning'>Active in the last 4 hours</span>
    </li>
    <li>
      <span class='label label-primary'>No work in the queue</span>
    </li>
    <li>
      <span class='label label-danger'>Work do do, but nothing done in the last 4 hours</span>
    </li>
  </ul>
</div>
