#data {
  thead {
    font-weight: bold;
  }
}

#t_data {
  height: 28px;
}

#icons {
  padding: 0;

  button {
    margin: 2px;
  }
}

#register-progress {
  border-radius: 7px;
  height: 22px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.invalid {
  @extend .is-invalid;
}

.invalidDisplay {
  border-color: red !important;
  border-width: 2px !important;
  border-style: solid;
}

#dynamic {
  position: relative;
}

#id_list {
  position: absolute;
  display: none;
  resize: none;
}

.button-group {
  margin-right: 4px;
}
