#t_data {
  display: none;
}

#register-progress {
  border-radius: 7px;
  height: 22px;
  width: 100%;
}

.ui-widget-content {
  border: none !important;
}

.full-width {
  width: 100%;
}

.invalid {
  @extend .is-invalid;
}

.invalidDisplay {
  border-color: red !important;
  border-width: 2px !important;
  border-style: solid;
}

.ui-jqgrid-view {
  font-size: var(--bs-body-font-size) !important;
}

#id_list {
  line-height: 2.4;
}
