.default-text {
  color: #cbcbcb;
}

.edit-cell input {
  font-size: 11px;
}

.ui-dialog-title, .ui-dialog-content {
  font-size: 1.2em;
}

.ui-jqgrid-title {
  font-size: 150%;
}

.ui-button-text-icon-primary .ui-button-text {
  padding-top: 0.5em !important;
  padding-left: 2.2em !important;
}

.ui-jqgrid-titlebar {
  background-color: #8c1515;
  background-image: none;
}

.ui-dialog-titlebar {
  background-color: #8c1515;
  background-image: none;
}
