/* v1.0 | 20080212 | meyerweb reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

/* webcrop styles */

body {
  width: 100%;
  background: #fff url('../images/webcrop_bg.png') repeat-x top left;
  font: normal normal normal 0.9em/1.6em "lucida grande",tahoma,verdana,arial,sans-serif;
}

select, input {
  font: normal normal normal 0.9em/1.6em "lucida grande",tahoma,verdana,arial,sans-serif;  
}

a:link, a:active, a:visited {
  color: #7a0c09;
  text-decoration: none;
}

.bold { font-weight: bold; }

#logo {
  left: 0;
  margin: 6px 0 0 12px;  
  position: absolute;
  top: 0;
}

#contents {
  margin-top: 50px;
  padding: 10px 5px;
  position: relative;
}

#sidebar {
  border-right: 1px dotted #999;      
  height: 675px;  
  overflow: auto;  
  padding: 0 10px 10px 10px;
  position: absolute;
  width: 250px;
}

#contents {
  margin-top: 50px;
  padding: 10px 5px;
  position: relative;
}

#sidebar {
  border-right: 1px dotted #999;      
  height: 675px;  
  overflow: auto;  
  padding: 0 10px 10px 10px;
  position: absolute;
  width: 250px;
}

#img-info, #crop-dimensions, #rotation, #opacity {
  border-bottom: 1px dotted #bbb;
  overflow: auto;
  padding: 10px 0;
}

#img-info dl, #crop-dimensions dl, #rotation dl, #crop-rotate-locks dl {
  padding: 4px 0 0 0;
}

#img-info dt, #crop-dimensions dt, #rotation dt, #crop-rotate-locks dt {
  clear: both;
  color: #555;
  float: left;
  text-align: right;
  padding: 4px 6px 4px 0;
  width: 75px;  
}

#img-info dd {
  padding: 4px 0;
}

#img-nav {
  clear: both;
  padding: 5px 0 0 30px;
}

#btn-img-nav-prev, #btn-img-nav-next {
  background-color: #eee;
  border: 1px solid #aaa;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;  
  cursor: pointer;
  padding: 2px 5px;
}

#btn-img-nav-prev {
  padding-right: 10px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;  
}

#btn-img-nav-next {
  padding-left: 10px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;  
}

#crop-dimensions dt, #rotation dt {
  width: 50px;
}

#img-info dd, #crop-dimensions dd, #rotation dd {
  margin: 0;
  float: left;
  width: 100px;
}

#crop-dimensions dd {
  margin-top: 5px;
}  

#crop-rotate-locks {
  clear: both;
}

#crop-rotate-locks dl {
  margin-top: 10px;
}

#crop-rotate-locks dt {
  text-align: right;
  width: 170px;
}

#crop-rotate-locks dd {
  text-align: left;
  width: 20px;
}

#crop-rotate-locks dd > img {
  margin-bottom: 0px;
  cursor: pointer;
}

#rotation {
  padding-bottom: 15px;
}

#rotation dt, #rotation dd {
  margin-bottom: 0px;
}

#rotation dd {
  margin-top: 4px;
}  


#sidebar input[type="text"] {
  margin-top: 3px;
  border: 1px solid #999;
}

#opacity-slider-box {
  clear: both;
  padding: 20px 0 40px 3px;
  width: 72%;
}

#crop-rotate-area {
  left: 285px;
  position: absolute;  
  top: -20px;  
}

#crop-rotate-background {
  background: transparent url('../images/rotate-grid.png') repeat top left;
  height: 700px;
  width: 700px;
}

#rotate-controls {
  clear: both;
  height: 200px;
  padding-top: 20px;
  width: 100%;
}

#rotation-angle-slider-box {
  float: left;
  width: 400px;
}

#rotation-angle-buttons {  
  float: left;
  margin-left: 40px;
}

#btn-rotate-90-ccw, #btn-rotate-90-cw, #btn-rotate-pt1-ccw, #btn-rotate-pt1-cw {
  border: 1px solid #aaa;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;  
  padding: 2px 5px 2px 20px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;   
}

#btn-rotate-90-ccw {
  background: #eee url('../images/icon-rotate-ccw.png') 5px 2px no-repeat;
}

#btn-rotate-90-cw {
  background: #eee url('../images/icon-rotate-cw.png') 5px 2px no-repeat;
}


#btn-rotate-pt1-ccw {
  background: #eee url('../images/icon-rotate-ccw.png') 5px 2px no-repeat;
}

#btn-rotate-pt1-cw {
  background: #eee url('../images/icon-rotate-cw.png') 5px 2px no-repeat;
}


#slide-show {
  border: 1px solid #999;
  left: 1000px;
  overflow: auto;
  position: absolute;
  top: -20px;
  text-align: center;  
  width: 150px;
}

#multi-select-options {
  background-color: transparent;
  border-bottom: 1px solid #999;
  color: #666;
  padding: 5px 0;
  text-align: center;  
}

#btn-apply-crop, #btn-apply-rotation {
  margin: 3px 0 0 0;
  /*
  background-color: #e9e9e9;
  border: 1px solid #888;
  border-right: 2px solid #888;
  border-bottom: 2px solid #888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  */  
}

ul#slide-show-list {
  height: 660px;
  overflow: auto;  
  width: 150px;
}

.slide {
  background-color: transparent;
  border-bottom: 1px dotted #999;
  clear: both;
  padding: 5px 10px;
}

.slide-bg-selected {
  background-color: #ddd;  
}

.slide-img {
  cursor: pointer;
  margin-top: 5px;
}

img.has-crop-coords, img.has-rotation-angle {
  margin-bottom: -2px;
  margin-left: 5px;
}

#last-saved {
  color: #666;
  padding: 10px 5px;
}
