<%= form_with url: export_tag_job_path, class: "new_bulk_action", data: {turbo_frame: "_top"} do |f| %>
  <%= render "bulk_actions/errors" %>

  <span class='help-block'>
    Download tags as CSV (comma-separated values) for druids specified below
  </span>

  <%= render "bulk_actions/druids", f: f %>
  <%= render "bulk_actions/common_fields", f: f %>
<% end %>
