<div class="modal-header">
  <h4>File Availability</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
  <div class="">
    Workspace:
  <% if @available_in_workspace %>
    <%= link_to params[:id], item_file_path(item_id: params[:item_id], id: params[:id]) %>
  <% else %>
    not available
  <% end %>
  </div>

<% if @file.administrative.shelve %>
  <p>
    Stacks: <%= link_to params[:file], stacks_url_full_size(params[:item_id], params[:id]) %>
  </p>
<% end %>

<% if @file.administrative.sdrPreserve && @has_been_accessioned %>
  <p>
    Preservation:
    <%= link_to params[:file], preserved_item_file_path(item_id: params[:item_id], id: params[:id], version: @last_accessioned_version) %>
  </p>
<% end %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
