<%= render BlacklightModalComponent.new do |component| %>
  <% component.with_header { 'File Availability' } %>
  <% component.with_body do %>
    <% if @file.administrative.shelve %>
      <% if @file.access.download == 'none' %>
        <p>
          Stacks: <%= stacks_url_full_size(params[:item_id], params[:id]) %> <em>(not available for download)</em>
        </p>
      <% else %>
        <p>
          Stacks: <%= link_to params[:file], stacks_url_full_size(params[:item_id], params[:id]) %>
        </p>
      <% end %>
    <% end %>
    <% if @file.administrative.sdrPreserve && @has_been_accessioned %>
      <p>
        Preservation:
        <%= link_to params[:file], preserved_item_file_path(item_id: params[:item_id], id: params[:id], version: @last_accessioned_version) %>
      </p>
    <% end %>
  <% end %>
<% end %>
