Dor.configure do
  workflow.url 'https://your-test.workflow-server.com/workflow'
  fedora.url   'http://fedoraAdmin:fedoraAdmin@localhost:8983/fedora'
  solrizer.url 'http://localhost:8983/solr/test'
end
