# Example settings for configuration

# General
DATE_FORMAT_STR: '%Y-%m-%d %H:%M:%S.%L'
REINDEX_ON_FLY: false

BULK_REINDEXER:
  BATCH_SIZE: 10

# Bulk Metadata
BULK_METADATA:
  DIRECTORY: '/tmp/bulk_jobs/'
  LOG: 'log.txt'
  CSV_LOG: 'log.csv'
  XML: 'MODS'

# Content
CONTENT:
  USER: 'user'
  BASE_DIR: '/foo/bar/'
  SERVER_HOST: 'example-bar'
  SDR_SERVER_URL: 'https://sdr.example.com'
  SDR_USER: 'user'
  SDR_PASSWORD: 'password'

# Webmock settings
DISABLE_WEBMOCK: false

INDEXING_JOB:
  SHOULD_COMMIT_BATCHES: true
  SHOULD_PROFILE: false

# Metadata
METADATA:
  EXIST_URL: 'https://user:password@metadata.example.com/exist/rest'
  CATALOG_URL: 'https://catalog.example.com/catalog/mods'

# Newrelic
NEWRELIC:
  ENABLED: false
  LICENSE_KEY: 'super secret api key'
  APP_NAME: 'Argo - name should be specific to server'

PROFILER:
  CALLTREE_PRINTER_MIN_PERCENT: 1
  MEASURE_MODE: 'wall'
  OUTPUT_DIR: 'log/profiler'

# Squash
SQUASH:
  API_HOST: 'https://squash-host.example.com'
  API_KEY: 'squash-api-key'
  DISABLE: <%= (Rails.env.development? || Rails.env.test?) %>

# SSL
SSL:
  CERT_FILE: 'cert_name.crt'
  KEY_FILE: 'key_name.key'
  KEY_PASS: 'password'

# Stacks
STACKS:
  DOCUMENT_CACHE_STORAGE_ROOT: '/foo/document_cache'
  DOCUMENT_CACHE_HOST: 'cache.example.com'
  DOCUMENT_CACHE_USER: 'user'
  LOCAL_WORKSPACE_ROOT: '/foo/workspace'
  STORAGE_ROOT: '/bar'
  HOST: 'stacks.example.com'
  USER: 'user'

# Stomp
STOMP_CLIENT_ID: 'fedora_stomper'

# Suri
SURI:
  MINT_IDS: true
  ID_NAMESPACE: 'druid'
  URL: 'https://suri.example.com'
  USER: 'user'
  PASS: 'pass'

# URLs
DOR_SERVICES_URL: 'https://user:password@dor-services.example.com'
DPG_URL: 'https://dpg.example.com'
FEDORA_URL: 'https://user:password@fedora.example.com:1000/fedora'
GSEARCH_URL: 'https://server.example.com/solr/gsearch'
GSEARCH_REST_URL: 'https://server.example.com/gsearch/rest'
MDTOOLKIT_URL: 'https://mdtoolkit.example.com/md'
MODSULATOR_URL: 'https://services.example.com/v1/modsulator'
NORMALIZER_URL: 'https://services.example.com/v1/normalizer'
PURL_URL: 'https://purl.example.com'
ROBOT_STATUS_URL: 'https://robot.example.com/robots'
SDR_URL: 'https://user:pass@sdr.example.com/sdr'
SOLRIZER_URL: 'https://solr.example.com/solr/collection'
SPREADSHEET_URL: 'https://services.example.com/v1/spreadsheet'
STACKS_FILE_URL: 'https://stacks.example.com/file'
STACKS_URL: 'https://stacks.example.com/image' # TODO: Verify use doesn't seeem to be in use
STATUS_INDEXER_URL: 'https://status.example.com/render/?format=json&other=params'
WORKFLOW_URL: 'https://workflow.example.com/workflow/'

# Webauth is null by default.
# To specify it to fake webauth credentials for dev instances,
# use a structure like the one below.
WEBAUTH: ~
# WEBAUTH:
#   USER: 'user'
#   MAIL: 'user@example.com'
#   LDAPPRIVGROUP: 'group:role|anothergroup:otherrole'
#   SUAFFILIATION: 'org:group'
#   DISPLAYNAME: 'Jane Doe'
#   LDAPAUTHRULE: 'auth-rule'

# Workflow
WORKFLOW:
  LOGFILE: 'log/workflow_service.log'
  SHIFT_AGE: 'weekly'
