# Example settings for configuration

# General
DATE_FORMAT_STR: '%Y-%m-%d %H:%M:%S.%L'

# Bulk Metadata
BULK_METADATA:
  DIRECTORY: '/tmp/bulk_jobs/'
  TEMPORARY_DIRECTORY: '/tmp/bulk_jobs/tmp/'
  LOG: 'log.txt'
  CSV_LOG: 'log.csv'
  XML: 'MODS'
  ZIP: 'desc_metadata_download.zip'

CHECKSUM_REPORT_JOB:
  CSV_FILENAME: 'checksum_report.csv'

# Newrelic
NEWRELIC:
  ENABLED: false
  LICENSE_KEY: 'super secret api key'
  APP_NAME: 'Argo - name should be specific to server'

# Profiler
PROFILER:
  ##
  # A bit different but for RackMiniProfiler https://github.com/MiniProfiler/rack-mini-profiler
  # useful for profiling blocking HTTP requests and partial rendering
  RACKMINI_ENABLED: false

# # SSL
# SSL:
#   CERT_FILE: 'cert_name.crt'
#   KEY_FILE: 'key_name.key'
#   KEY_PASS: 'password'

# Stacks
STACKS:
  LOCAL_WORKSPACE_ROOT: '/foo/workspace'

# Stomp
STOMP_CLIENT_ID: 'fedora_stomper'

# Suri
SURI:
  MINT_IDS: true
  ID_NAMESPACE: 'druid'
  URL: 'http://localhost:3002'
  USER: 'user'
  PASS: 'pass'

DOR_SERVICES:
  URL: 'http://localhost:3003'
  # To generate the token: docker-compose run dor-services-app rake generate_token
  TOKEN: eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJGb28ifQ.-BVfLTW9Q1_ZQEsGv4tuzGLs5rESN7LgdtEwUltnKv4

PRESERVATION_CATALOG:
  URL: 'http://PRESCATURL'

# URLs
DOR_INDEXING_URL: 'https://dor-indexing-app.example.com/dor'
DPG_URL: 'https://dpg.example.com'
FEDORA_URL: 'https://user:password@fedora.example.com:1000/fedora'
MODSULATOR_URL: 'https://services.example.com/v1/modsulator'
NORMALIZER_URL: 'https://services.example.com/v1/normalizer'
PURL_URL: 'https://purl.example.com'
ROBOT_STATUS_URL: 'https://robot.example.com/robots'
SOLRIZER_URL: 'https://solr.example.com/solr/collection'
SPREADSHEET_URL: 'https://services.example.com/v1/spreadsheet'
STACKS_FILE_URL: 'https://stacks.example.com/file'
STACKS_URL: 'https://stacks.example.com/image'
STATUS_INDEXER_URL: 'https://status.example.com/render/?format=json&other=params'
WORKFLOW_URL: 'http://localhost:3001'

SU_AFFILIATIONS:
- test-stanford:test

# Workflow
WORKFLOW:
  LOGFILE: 'log/workflow_service.log'
  SHIFT_AGE: 'weekly'

apo:
  default_workflow_option: 'registrationWF'

# These workflows are inactive, and the workflow-server doesn't know about them
# so we don't draw them on the workflow grid
inactive_workflows:
  - accession2WF
  - sdrMigrationWF
  - dpgImageWF
  - sdrAuditWF
  - swIndexWF
  - googleScannedBookWF
  - eemsAccessionWF
