

# Example settings for configuration
# NOTE:  Please use lowercase.
#   The config gem documents the correct usage as lowercase: https://github.com/railsconfig/config#embedded-ruby-erb
#   If we use uppercase the config gem ends up creating methods with the ruby convention for constants, which is confusing.

# General
date_format_str: '%Y-%m-%d %H:%M:%S.%L'

# Bulk Metadata
bulk_metadata:
  directory: '/tmp/bulk_jobs/'
  temporary_directory: '/tmp/bulk_jobs/tmp/'
  log: 'log.txt'
  csv_log: 'log.csv'
  xml: 'MODS'
  zip: 'desc_metadata_download.zip'

checksum_report_job:
  csv_filename: 'checksum_report.csv'

# Newrelic
newrelic:
  enabled: false
  license_key: 'super secret api key'
  app_name: 'Argo - name should be specific to server'

# Profiler
profiler:
  ##
  # A bit different but for RackMiniProfiler https://github.com/MiniProfiler/rack-mini-profiler
  # useful for profiling blocking HTTP requests and partial rendering
  rackmini_enabled: false

# # SSL
# ssl:
#   cert_file: 'cert_name.crt'
#   key_file: 'key_name.key'
#   key_pass: 'password'

# Stacks
stacks:
  local_workspace_root: '/foo/workspace'
  host: 'stacks-test.stanford.edu'

# Suri
suri:
  mint_ids: true
  id_namespace: 'druid'
  url: 'http://localhost:3002'
  user: 'user'
  pass: 'pass'

dor_services:
  url: 'http://localhost:3003'
  # To generate the token: docker-compose run dor-services-app rake generate_token
  token: eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJGb28ifQ.-BVfLTW9Q1_ZQEsGv4tuzGLs5rESN7LgdtEwUltnKv4

preservation_catalog:
  url: 'https://preservation-catalog-stage-01.stanford.edu'
  token: 'mint-token-with-target-preservation-catalog-rake-generate-token'

# URLs
dor_indexing_url: 'https://dor-indexing-app:3000/dor'
fedora_url: 'http://fedoraAdmin:fedoraAdmin@fcrepo:8080/fedora'
modsulator_url: 'https://modsulator-app-stage.stanford.edu/v1/modsulator'
normalizer_url: 'https://modsulator-app-stage.stanford.edu/v1/normalizer'
purl_url: 'https://sul-purl-test.stanford.edum'
robot_status_url: 'https://robot-console-stage.stanford.edu'
solrizer_url: 'http://solr:8983/solr/argo'
spreadsheet_url: 'https://modsulator-app-stage.stanford.edu/v1/spreadsheet'
stacks_file_url: 'https://stacks-test.stanford.edu/file'
stacks_url: 'https://stacks-test.stanford.edu/image'
status_indexer_url: 'https://dor-indexing-app:3000/dor/queue_size.json'
workflow_url: 'http://localhost:3001'

# Workflow
workflow:
  logfile: 'log/workflow_service.log'
  shift_age: 'weekly'
  timeout: 60

apo:
  default_workflow_option: 'registrationWF'


sdr_api:
  email: argo@dlss.sul.stanford.edu
  password: notusedanywhere
  url: https://sdr-api-stage.stanford.edu

# These workflows are inactive, and the workflow-server doesn't know about them
# so we don't draw them on the workflow grid
inactive_workflows:
  - accession2WF
  - sdrMigrationWF
  - dpgImageWF
  - sdrAuditWF
  - swIndexWF
  - googleScannedBookWF
  - eemsAccessionWF

tech_md_service:
  url: 'http://localhost:3005'
  # To generate the token: docker-compose run techmd rake generate_token
  token: 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhcmdvLXRlc3QifQ.nhJQsj8V98agZxzDP2OSCVPkIb70yE9_dyLUiTzcKko'
