<%= form_with url: republish_job_path, class: 'new_bulk_action', data: { turbo_frame: '_top' } do |f| %>
  <%= render 'bulk_actions/errors' %>
  
  <span class='help-block'>
    Republish DOR objects. You still need to use the normal versioning process to make sure your changes are preserved.
  </span>

  <%= render 'bulk_actions/druids', f: f %>
  <%= render 'bulk_actions/common_fields', f: f %>
<% end %>
