<%= form_with url: close_item_versions_path(@cocina_object.externalIdentifier),
              method: :post,
              local: true do %>
  <div class='mb-3'>
    <label for="description">Version description</label><br>
    <textarea id="description" name="description" class="form-control" required="true"><%= @description %></textarea>
  </div>
  <button type='submit' class='btn btn-primary'>
    Close Version
  </button>
<% end %>
