<%= form_with(url: open_item_versions_path(item_id: @object.pid), method: :post) do %>
  <div class='form-group'>
    <label for="significance">Type</label>
    <select id="significance" name="significance" class='form-control'>
      <option value="major">Major</option>
      <option value="minor">Minor</option>
      <option value="admin">Admin</option>
    </select>
  </div>
  <div class='form-group'>
    <label for="description">Version description</label><br>
    <textarea id="description" name="description" class='form-control'></textarea>
  </div>
  <button type='submit' class='btn btn-primary'>
    Open Version
  </button>
<% end %>
