<%= form_with url: open_item_versions_path(item_id: @cocina_object.externalIdentifier),
              method: :post,
              local: true do %>
  <div class='mb-3'>
    <label for="description">Version description</label><br>
    <textarea id="description" name="description" class='form-control' required="true"></textarea>
  </div>
  <button type='submit' class='btn btn-primary'>
    Open Version
  </button>
<% end %>
