<div class="wide column" style="width:45em;">
  <dl class="defList">
    <dt>Lifecycle</dt>
  <dt><%history_link='/items/'+params[:id]+'/workflow/history'%>
  <a class="dialogLink" href=<%= history_link%>>(xml)<a/></dt>
    <dd style="width:30em;">
      <%= render_milestones document, object %>
    </dd>
  </dl>
</div>

<div class="wide column">
  <dl class="defList">
    <dt>Workflows</dt>
    <dd>
      <%= render_workflows document, object %>
    </dd>
  </dl>
</div>

<div style="clear: both">
  <dl class="defList">
    <dt>Events</dt>
    <dd>
      <%= render_events document, object %>
    </dd>
  </dl>
</div>
