<% resource.xpath('externalFile').each do |external_file| %>
  <li class="external-file">
    <span class="label">
      External File
    </span>
    <%= external_file['fileId'] -%>
    (from item '<%= link_to external_file['objectId'], catalog_path(external_file['objectId']) unless external_file['objectId'].blank? -%>',
     resource '<%= external_file['resourceId'] -%>')
  </li>
<% end %>
