<div id='bulk-update-button' class='btn-group'>
  <% cleaned_params = params.except(:controller, :action).permit! %>
  <%= link_to('Bulk Update', send(:report_bulk_url, cleaned_params), class: 'btn btn-default', type: 'button', id: 'bulk_update_view') %>
</div>
