<div id='bulk-update-button' class='btn-group'>
  <%= link_to 'Bulk Update', send(:report_bulk_url, search_params), class: 'btn btn-outline-secondary', type: 'button', id: 'bulk_update_view' %>
</div>
