<h3 id="document-cocina-head" class="section-head collapsible-section collapsed">
  Cocina Model
</h3>
<div id="document-cocina-section" class="document-section" style="display:none">
  <table class="detail">
    <pre><%= JSON.pretty_generate(@cocina.as_json) %></pre>
  </table>
</div>
