<div class="accordion-item">
  <h2 class="accordion-header" id="document-cocina-heading">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#document-cocina-section" aria-expanded="false" aria-controls="document-cocina-section">
      Cocina Model
    </button>
  </h2>
  <div id="document-cocina-section" class="accordion-collapse collapse" aria-labelledby="document-cocina-heading">
    <div class="accordion-body" data-controller="json-renderer">
        <a class="btn btn-secondary " data-action="json-renderer#expand">
          <span class="bi-arrows-expand"/>
          <span>Expand</span>
        </a>
        <a class="btn btn-secondary " data-action="json-renderer#collapse">
          <span class="bi-arrows-collapse"/>
          <span>Collapse</span>
        </a>

      <script type="application/json" data-json-renderer-target="cocina">
        <%= @cocina.to_json.html_safe %>
      </script>

      <div class="detail" data-json-renderer-target="section"></div>
    </div>
  </div>
</div>
