<h3 id="document-cocina-head" class="section-head collapsible-section collapsed">
  Cocina Model
</h3>
<div id="document-cocina-section" class="document-section" style="display:none" data-controller="json-renderer">
  <script type="application/json" data-target="json-renderer.cocina">
    <%= @cocina.to_json.html_safe %>
  </script>
  <div class="detail" data-target="json-renderer.section"></div>
</div>
