<div class="accordion-item">
  <h2 class="accordion-header" id="document-cocina-heading">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#document-cocina-section" aria-expanded="false" aria-controls="document-cocina-section">
      Cocina Model
    </button>
  </h2>
  <div id="document-cocina-section" class="accordion-collapse collapse" aria-labelledby="document-cocina-heading">
    <div class="accordion-body">
      <turbo-frame id="cocina_object" src="<%= item_cocina_object_path(view_token) %>" loading="lazy">
        <%= render Spinner.new %>
      </turbo-frame>
    </div>
  </div>
</div>
