<h3 id="document-contents-head" class="section-head collapsible-section">
  Contents
  <%= render DownloadAllButtonComponent.new(document: document) %>
</h3>
<div id="document-contents-section" class="document-section contents-section">
  <% if @cocina.respond_to? :structural %>
    <% if document.preservation_size.present? %>
      <span class="label">Preservation Size</span>
      <%= number_to_human_size(document.preservation_size) %>
      <br>
    <% end %>
    <span class="label">Type</span>
    <%= document.content_type %>
    <%= render Contents::StructuralComponent.new(structural: @cocina.structural, viewable: can?(:view_content, @cocina)) %>
  <% else %>
    <span class="label">Preservation Size</span> 0 bytes
  <% end %>
</div>
