<h3 id="document-contents-head" class="section-head collapsible-section">
  Contents
</h3>
<div id="document-contents-section" class="document-section contents-section">
  <% if object.datastreams.keys.include?('contentMetadata') &&
    (not object.datastreams['contentMetadata'].new?) && object.datastreams['contentMetadata'].metadata? %>
    <% content_ds = object.datastreams['contentMetadata'] %>

      <% if document.preservation_size.present? %>
        <span class="label">Preservation Size</span>
        <%= number_to_human_size(document.preservation_size) %>
        <br/>
      <% end %>
      <span class="label">Type</span>
      <%= content_ds.ng_xml.root['type'] %>
      <ul class="resource-list">
        <%= render partial: 'catalog/_show_sections/resource',
                   collection: content_ds.ng_xml.xpath('/contentMetadata/resource'),
                   as: :resource,
                   locals: { object: object } %>
      </ul>
  <% else %>
    <span class="label">Preservation Size</span> 0 bytes
  <% end %>
</div>
