<span class="section-head-link"><%= render_datastream_link(document) %></span>

<div class="accordion-item">
  <h2 class="accordion-header" id="document-datastreams-heading">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#document-datastreams-section" aria-expanded="true" aria-controls="document-datastreams-section">
      Datastreams
    </button>
  </h2>
  <div id="document-datastreams-section" class="accordion-collapse collapse show" aria-labelledby="document-datastreams-heading">
    <div class="accordion-body">

      <table class="detail">
        <%= render DatastreamRow.with_collection(@datastreams) %>
      </table>
    </div>
  </div>
</div>
