<h3 id="document-datastreams-head" class="section-head collapsible-section">
  <span class="section-head-link"><%= render_datastream_link(document) %></span>
  Datastreams
</h3>
<div id="document-datastreams-section" class="document-section">
  <table class="detail">
    <% document.datastreams.each do |attributes| %>
      <%= render DatastreamRow, document: document, attributes: attributes %>
    <% end %>
  </table>
</div>
