<h3 id="document-datastreams-head" class="section-head collapsible-section">
  <span class="section-head-link"><%= render_datastream_link(document) %></span>
  Datastreams
</h3>
<div id="document-datastreams-section" class="document-section">
  <table class="detail">
    <%= render DatastreamRow.with_collection(object.datastreams.values.reject(&:new?)) %>
  </table>
</div>
