    <% # container for a single doc -%>
    <div class="document <%= render_extended_document_class document %>">
  
      <% # header bar for doc items in index view -%>
      <div class="documentHeader">
    
        <% # main title container for doc partial view -%>
        <div class="yui-u">
          <h3 class="index_title"><%= document_counter + 1 + @response.params[:start].to_i %>. <%= link_to_document document, :label=>render_citation(document), :counter => (document_counter + 1 + @response.params[:start].to_i) %></h3>
        </div>
      </div>
  
      <% # main container for doc partial view -%>
      <%= render_document_partial document, :index %>
    </div>
