<div class="accordion-item">
  <h2 class="accordion-header" id="document-events-heading">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#document-events-section" aria-expanded="false" aria-controls="document-events-section">
      Events
    </button>
  </h2>
  <div id="document-events-section" class="accordion-collapse collapse" aria-labelledby="document-events-heading">
    <div class="accordion-body">
      <turbo-frame id="events" src="<%= item_events_path(view_token) %>" loading="lazy">
        <%= render Spinner.new %>
      </turbo-frame>
    </div>
  </div>
</div>
