<div class='btn-group full-view-links' role='group'>
  <%= link_to 'View full Dublin Core', dc_aspect_view_catalog_path(document.id), title: 'Dublin Core (derived from MODS)', class: 'btn btn-default btn-sm', data: { ajax_modal: 'trigger'} %>
  <%= link_to 'View MODS', purl_preview_item_url(document.id), title: 'MODS View', class: 'btn btn-default btn-sm', data: { ajax_modal: 'trigger' } %>
</div>
