<h3 id="document-history-head" class="section-head collapsible-section">
  <span class="section-head-link"></span>
  History
</h3>
<div id="document-history-section" class="document-section">
  <div class="wide column" style="width:45em;">
    <dl class="defList">
      <dt>Lifecycle</dt>
      <dt>
        <%= link_to "(xml)", history_item_workflows_path(object), data: { blacklight_modal: 'trigger' } %>
      </dt>
      <dd style="width:30em;">
        <%= render 'catalog/show_milestones', document: document, object: object %>
      </dd>
    </dl>
  </div>

  <div class="wide column">
    <dl class="defList">
      <dt>Workflows</dt>
      <dd>
        <%= render_workflows document, object %>
      </dd>
    </dl>
  </div>

  <% if @cocina.administrative.respond_to? :releaseTags %>
    <% if @cocina.administrative.releaseTags.present? %>
      <div>
        <dl>
          <dt>Releases</dt>
          <dd>
            <%= render 'show_releases', release_tags: @cocina.administrative.releaseTags %>
          </dd>
        </dl>
      </div>
    <% end %>
  <% end %>
</div>
