
<h3>Welcome to Argo!</h3>
<% if @presenter.view_something? %>
  <p>
    Enter one or more search terms or select a facet on the left to begin.
  </p>
<% else %>
  <p>
    You do not appear to have permission to view any items in Argo. Please contact an administrator.
  </p>
<% end %>
