<h1 class="h3">Welcome to Argo!</h1>
<% if @presenter.view_something? %>
  <p>
    To begin, enter one or more search terms, or select a facet under the 'Limit your search' panel.
  </p>
<% else %>
  <p>
    You do not appear to have permission to view any items in Argo. Please contact an administrator.
  </p>
<% end %>
