<div class='report-toggle'>
  <% cleaned_params = params.except(:controller, :action).permit! %>
  <div class='btn-group'>
    <button class='btn btn-default dropdown-toggle' type='button' id='argo-view-dropdown' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'>
      Select View
      <span class='caret'></span>
    </button>
    <ul class='dropdown-menu <%= "dropdown-menu-right" if catalog_view? %>' aria-labelledby='argo-view-dropdown'>
      <% views_to_switch.each do |view| %>
        <li class="<%= 'active' if send("#{view.name}_view?")%>">
          <%= link_to t("argo.search.#{view.name}_view"), send(view.path, cleaned_params) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
