<table class="detail" style="width:100%">
  <thead>
    <tr><th>version</th><th>what</th><th>when</th></tr>
  </thead>
  <tbody>
    <% @milestones_presenter.each_version do |version| %>
      <%= render VersionMilestonesComponent.new(version:, druid: @document.id,
                                                milestones_presenter: @milestones_presenter,
                                                user_versions_presenter: @user_versions_presenter,
                                                versions_presenter: @versions_presenter) %>
    <% end %>
  </tbody>
</table>
