<table class="detail" style="width:100%">
  <thead>
    <tr><th>version</th><th>what</th><th>when</th></tr>
  </thead>
  <tbody>
    <% @milestones_presenter.each_version do |version| %>
      <%= render VersionMilestonesComponent.new(version:, milestones_presenter: @milestones_presenter) %>
    <% end %>
  </tbody>
</table>
