<%
  @page_title = "#{application_name} - #{Array(document_show_html_title).first.to_s.ellipsize(:max => 50)}"
  ensure_current_document_version if Argo::Config[:reindex_on_the_fly]
%>

<div id="document-sections">
  <%= render_document_sections(@document, :show) %>
</div>

<%= "object indexed by DOR Services v#{@document.get(Dor::INDEX_VERSION_FIELD)}" %>
