<table class="detail" style="width:100%">
  <thead>
    <tr><th>version</th><th>what</th><th>when</th></tr>
  </thead>
  <tbody>
    <% @milestones_presenter.each_version do |version| %>
      <%= render VersionMilestonesComponent.new(version: version,
                                                title: @milestones_presenter.version_title(version),
                                                steps: @milestones_presenter.steps_for(version)) %>
    <% end %>
  </tbody>
</table>
