<%
  @page_title = "#{application_name} - #{Array(document_show_html_title).first.to_s.ellipsize(:max => 50)}"
  ensure_current_document_version if Argo::Config[:reindex_on_the_fly]
%>

<div id="document-sections">
  <%= render_document_sections(@document, :show) %>
</div>


<div>
  <%= "object indexed by DOR Services v#{@document.get(Dor::INDEX_VERSION_FIELD)}" %>
  <%

    solr_doc_url = "#{Dor::Config.solrizer.url}/select?q=id:\"#{@document.id}\"&wt=json&indent=true"
  %>
  <% if current_user.is_admin %>
    <div>
      <a href="<%=solr_doc_url-%>">view the object's Solr document</a>
    </div>
  <% end %>
</div>