<div data-ajax-modal="container">
    <div id="spreadsheet-upload-container">
	<%= form_tag({action: :upload}, multipart: true) do %>
        <div id="bulk-upload-form" class="container-fluid">
	    <div class="row spreadsheet-row">
		<div class="col-md-10">
		    <strong>Submit MODS descriptive metadata for bulk processing</strong>
		</div>
		<div class="col-md-2 spreadsheet-right">
		    <%= link_to('Help', bulk_jobs_help_path, :data => { ajax_modal: 'trigger' }) %>
		</div>
	    </div>
	    <div class="row spreadsheet-row">
		<div class="col-md-2 spreadsheet-file-action-column"><strong>1. Select</strong></div>
		<div class="col-md-4 spreadsheet-file-upload-column">
		    <%= file_field_tag :spreadsheet_file %>
		    <input type="hidden" name="druid" value="<%=@object.id %>" />
		</div>
	    </div>
    	    <div class="row spreadsheet-row">
		<div class="col-md-2"><strong>2. Action</strong></div>
		<div class="col-md-8">
		    <div class="radio spreadsheet-radio">
			<label>
			    <input type="radio" name="filetypes" id="filetypes_1", value="spreadsheet">
			    Spreadsheet input; load into objects
			</label>
		    </div>
		    <div class="radio">
			<label>
			    <input type="radio" name="filetypes" id="filetypes_2",  value="xml">
			    Spreadsheet input; convert to MODS, do not load
			</label>
		    </div>
		    <div class="radio">
			<label>
			    <input type="radio" name="filetypes" id="convert_only" value="xml_only">
			    MODS XML input; load into objects
			</label>
		    </div>
		</div>
	    </div>
	    <div class="row spreadsheet-row">
		<div class="col-md-2">
		    <label for="note" class="control-label"><strong>3. Note</strong></label>
		</div>
		<div class="col-md-10">
		    <input type="text" class="form-control" id="note_text" name="note"/>
		</div>
	    </div>
    	    <div class="row spreadsheet-row spreadsheet-bottom-row">
    		<div class="col-md-2">
    		    <button type="submit" id="spreadsheet_submit" class="btn btn-primary">Submit</button>
    		</div>
		<div class="col-md-2">
    		    <button type="button" id="spreadsheet_cancel" class="btn btn-primary" data-dismiss="modal">Cancel</button>
    		</div>
    	    </div>
    	</div>
	<% end %>
    </div>
</div>
