<div data-ajax-modal="container">
    <div class="container-fluid">
        <div class="row spreadsheet-help-row">
            <div class="col-md-11 text-center"><h2>Status Information</h2></div>
        </div>
        <div class="row spreadsheet-help-row">
            <div class="col-md-4"><strong>OK</strong></div>
            <div class="col-md-8">All spreadsheet rows converted to MODS (if applicable) and all MODS data was successfully loaded.</div>
        </div>
	<div class="row spreadsheet-help-row">
            <div class="col-md-4"><strong>in process</strong></div>
            <div class="col-md-8">The submitted data is currently being processed.</div>
        </div>
	<div class="row spreadsheet-help-row">
            <div class="col-md-4"><strong>syntax errors</strong></div>
            <div class="col-md-8">One or more issues were found with the data coming from the spreadsheet or some items failed schema validation.</div>
        </div>
	<div class="row spreadsheet-help-row">
            <div class="col-md-4"><strong>system errors</strong></div>
            <div class="col-md-8">One or more items failed to load due to internal system errors. They may load if simply replayed if the problem was a transient system issue, e.g. a timeout or remote service unavailable. Report persistent errors to the Project Jumbo team.</div>
        </div>
    </div>
</div>
