<div data-ajax-modal="container">
    <div id="spreadsheet-log-container">
	<div class="row">
	    <div class="col-md-10 text-center">
		<strong>MODS Bulk Load Log</strong>
	    </div>
	    <div class="col-md-2 text-right">
		<%= link_to('CSV', bulk_jobs_csv_path(@apo, @time)) %>
	    </div>
	</div>
	<div class="row">
	    <div id="spreadsheet-log-table-container" class="col-md-12">
		<table id="spreadsheet-log-table" class="table">
		    <caption>Job started at <%= @druid_log['job_start'] %></caption>
		    <thead>
			<tr>
			    <th>Item</th>
			    <th>Outcome</th>
			</tr>
		    </thead>
		    <tbody>
			<% @druid_log.keys.each do |key| %>
			<% if key != 'job_start' %>
			<tr>
			    <td><%= key %></td>
			    <td><%= @druid_log[key] %></td>
			</tr>
			<% end %>
			<% end %>
		    </tbody>
		</table>
	    </div>
	</div>
	<div class="row">
	    <div class="col-md-2">
    		<button type="button" id="spreadsheet_cancel" class="btn btn-primary" data-dismiss="modal">Close</button>
    	    </div>
	</div>
    </div>
</div>
