<%# Vanilla Blacklight partial, except for this Solr request in <head> %>

<% content_for(:head) do %>
  <link rel="alternate" type="application/xml" title="Solr" href="<%=build_solr_request_from_response%>">
<% end %>


<div id="sidebar" class="col-md-3 col-sm-4">
  <%= render 'search_sidebar' %>
</div>
<div id="content" class="col-md-9 col-sm-8">
  <% unless has_search_parameters? %>
    <%# if there are no input/search related params, display the "home" partial -%>
    <%= render 'home' %>
  <% else %>
    <%= render 'search_results' %>
  <% end %>
</div>
