<%= render_document_main_content_partial %>

<% content_for(:sidebar) do %>
  <%= render_document_sidebar_partial @document %>
<% end %>

<div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal menu" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
    </div>
  </div>
</div>
