<% @page_title = t('blacklight.search.show.title', document_title: truncate(strip_tags(document_show_html_title).html_safe, length: 50), application_name: application_name).html_safe %>
<% content_for(:head) { show_presenter(@document).link_rel_alternates } -%>
<div id="sidebar" class="col-md-3 col-sm-4">
  <%= render_document_sidebar_partial %>
</div>
<div id="content" class="col-md-9 col-sm-8 show-document">
  <%= render_document_main_content_partial %>
</div>
