<% @page_title = "Bulk Uploads for APO #{@object.id}" %>
<% content_for(:head) { render_link_rel_alternates } -%>
<div id="sidebar" class="col-md-3 col-sm-4">
  <%= render_document_sidebar_partial %>
</div>


<div class="container">
  <table class="table table-striped">
      <tr><td>One</td><td>Two</td></tr>
      <tr><td>Three</td><td>Four</td></tr>
  </table>

</div>
