<div>
  <form class="report criteria">
    <input type="submit" value="Report" class="report button"/>
    <select name="show">
      <option value="values">Values</option>
      <option value="totals">Totals</option>
    </select>
    <select name="type">
      <option value="line">Line</option>
      <option value="spline">Spline</option>
      <option value="area">Area</option>
      <option value="areaspline">Area Spline</option>
      <option value="column">Column</option>
      <option value="bar">Bar</option>
      <option value="pie">Pie</option>
      <option value="scatter">Scatter</option>
    </select>
    <input type="text" name="title" value="Per Month"/>
  </form>
  <div class="report container"></div>
</div>
