<div class="hidden" id="column_selector">
  <p>Select columns to download:</p>
  <% Report.blacklight_config.column_model.each do |field| %>
    <%= check_box_tag 'selected_columns', field['name'], !field['hidden'] %> <%= field['label'] %> <br>
  <% end %>
</div>
