<div class="d-none" id="column_selector">
  <p>Select columns to download:</p>
  <% Report.blacklight_config.report_fields.each do |field| %>
    <%= check_box_tag 'selected_columns', field[:field], field[:download_default] %> <%= field[:label] %> <br>
  <% end %>
</div>
