<%= form_with model: @change_set, url: item_catkey_path(@change_set), method: :patch do |f| %>
  <div class="mb-3">
    <%= f.label :catkey %>
    <%= f.text_field :catkey, class: 'form-control' %>
    <p class='form-text'>
      Separate multiple catkeys with commas.
    </p>
  </div>
  <button class="btn btn-primary">Update</button>
<% end %>
