<div style="background-color:#0000cc;color:white;font-size:3em;">
  <span style="margin-left:50px;">Register APO</span>
</div>

<div style="padding-left:50px;padding-right:50px;border:1px;border-style:solid">
  <%= render 'form', url: apo_index_path, method: :post %>
</div>
