<turbo-frame id="registration-options">
  <div class="row mb-3">
    <label for="collection" class="col-sm-3 col-form-label">Collection</label>
    <div class="col-sm-9">
      <%= select_tag :collection, options_for_select(@collections), prompt: 'None', 'data-rcparam': 'collection', class: 'form-select' %>
    </div>
  </div>
  <div class="row mb-3">
    <label for="rights" class="col-sm-3 col-form-label">Rights</label>
    <div class="col-sm-9">
      <%= select_tag :rights, options_for_select(@rights, 'default'), class: 'form-select' %>
    </div>
  </div>
  <div class="row mb-3">
    <label for="workflow_id" class="col-sm-3 col-form-label">Initial Workflow</label>
    <div class="col-sm-9">
      <%= select_tag :workflow_id, options_for_select(@workflows), 'data-rcparam': 'workflowId', class: 'form-select' %>
    </div>
  </div>
</turbo-frame>
