<%buttons.each do |button|%>
	<%if button[:new_page]%>
	<li><a class="button" href="<%=button[:url]%>" ><%=button[:label]%></a></li>
	<%else%>
	<li><a class="smallDialogLink button" href="<%=button[:url]%>" ><%=button[:label]%></a></li>
	<%end%>
<%end%>