<div class='btn-group-vertical argo-show-btn-group' role='group' aria-label='Argo action buttons'>
  <% buttons.each do |button|%>
    <%
      button_data = {}
      if button[:confirm]
        # :confirm trumps :blacklight_modal, because :blacklight_modal would negate :confirm by firing the ajax request regardless of the user's decision
        button_data[:confirm] = button[:confirm]
      elsif !button[:new_page]
        button_data[:blacklight_modal] = 'trigger'
      end
      if button[:check_url]
        button_data[:check_url] = button[:check_url]
      end
    %>
    <%= link_to button[:label], button[:url], class: "btn button btn-primary #{'disabled' if button[:check_url] || button[:disabled]}", data: button_data %>
  <%end%>
</div>
