<%= form_tag url_for(controller: :items, action: :catkey, id: @object.pid) do %>
  <div class="form-group">
    <input class="form-control" name="new_catkey" id="new_catkey" type="text" value="<%= @object.catkey %>"/>
    <p class='help-block'>
    </p>
  </div>
  <button class="btn btn-primary">Update</button>
<% end %>
