<li id='collection_<%= col.pid.gsub('druid:', '') %>' class='list-group-item'>
  <%= object_title(col) %>
  <%= link_to remove_collection_item_path(id: @object.pid, collection: col.pid) do %>
    <span id='remove_collection' data-pid='<%= @object.pid %>' class='icon-remove-sign text-danger'></span>
  <% end %>
</li>
