<li class='list-group-item'>
  <%= collection_label %>
  <%= link_to remove_collection_item_path(id: item_id, collection: collection_id) do %>
    <span class='icon-remove-sign text-danger'></span>
  <% end %>
</li>
