<div id='collection_message' class='alert-info' />

<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3 class="panel-title">Remove existing collections</h3>
  </div>
  <div class='panel-body'>
    <ul id='collection_list' class='list-group'>
      <% @object.collections.each do |col| %>
        <%= render partial: 'collection_ui_line_item', locals: { col: col } %>
      <% end %>
  </div>
</div>

<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3 class="panel-title">Add a collection</h3>
  </div>
  <div class='panel-body'>
    <%= form_tag url_for(:controller => :items, :action => :add_collection, :id => @object.pid), remote: true do %>
      <div class='form-group'>
        <%= select_tag :collection, options_for_select(current_user.permitted_collections), class: 'form-control' %>
      </div>
      <button class='btn btn-primary'>Add Collection</button>
    <% end %>
  </div>
</div>
