<div id='help_dialog'>
<p>
	<b>World</b>: PURL page and published content files available to all<br>
	<b>Stanford</b>: PURL page is world visible; content files are available to the Stanford community only<br>
	<b>Citation Only</b>: PURL page is world visible; no content files are available<br>
	<b>Dark</b>: No PURL page, no content available online
</p>
</div>