<%=form_tag url_for(:controller => :items, :action => :set_rights, :id => @object.pid) do%>
  <div class='form-group'>
    <%= select_tag :rights, options_for_select(Constants::DEFAULT_RIGHTS_OPTIONS, 'world'), class: 'form-control' %>
  </div>
  <button class='btn btn-primary'>Update</button>
<% end %>
