<%= form_tag set_governing_apo_item_path(@cocina.externalIdentifier) do %>
  <div class='form-group'>
    <%= select_tag(:new_apo_id, options_for_select(apo_list(current_user.groups), @cocina.administrative.hasAdminPolicy)) %>
  </div>
  <button class='btn btn-primary'>
    Update
  </button>
<% end %>
