<div class='modal-header'>
  <button type='button' class='ajax-modal-close close' data-dismiss='modal' aria-hidden='true'>×</button>
  <h3 class='modal-title'>Close version</h3>
</div>

<div class='modal-body'>
  <%= render partial: 'close_version_ui' %>
</div>
