<div class='modal-header'>
  <button type='button' class='ajax-modal-close close' data-dismiss='modal' aria-hidden='true'>×</button>
  <h3 class='modal-title'>Update embargo</h3>
</div>

<div class='modal-body'>
  <%= render partial: 'embargo_form' %>
  <br>
  <button class='btn btn-default' data-dismiss='modal'>Cancel</button>
</div>
