<div class='modal-header'>
  <h3 class='modal-title'>Files</h3>
  <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
</div>

<div class='modal-body'>
  <%= render 'file' %>
</div>
