<% content_ds = @object.datastreams['contentMetadata'] %>
<%
  # @NOTE: list_files performs remote SSH connection, may fail!
  # @TODO: do list_files inside app and pass files to template for render, or ideally make it async
  if @object.list_files.include?(params[:file])
    link = "/items/#{params[:id]}/file/?file=#{params[:file]}"
    %>
    Workspace: <%= link_to params[:file], link %>
    <%
  end
  content_ds.ng_xml.search('//file[@id=\'' + params[:file] + '\']').each do |file|
    if file['shelve'] == 'yes'
      %>
      <br/>Stacks: <%= link_to params[:file], stacks_url_full_size(@object, params[:file]) %>
      <%
    end
    if has_been_accessioned?(@object.pid) && file['preserve'] == 'yes'
      %>
      <br/>Preservation: <%=link_to params[:file], url_for(:controller => :items, :action => :get_preserved_file, :id => params[:id], :file => params[:file], :version => last_accessioned_version(@object))%>
      <%
    end
  end

  %>
  <br/><button onclick="$('.lightBox').dialog('close');return false;">Cancel</button>
