<link rel="stylesheet" href="/assets/jquery.xmleditor.css" type="text/css" />

<script src="/assets/xml/ace/src-min/ace.js"></script>
<script src="/assets/xml/jquery.min.js"></script>
<script src="/assets/xml/jquery.xmlns.js"></script>
<script src="/assets/xml/jquery-ui.min.js"></script>
<script src="/assets/xml/json2.js"></script>
<script src="/assets/xml/cycle.js"></script>
<script src="/assets/xml/expanding.js"></script>
<script src="/assets/xml/vkbeautify.js"></script>
<script src="/assets/mods.js"></script>
<script src="/assets/jquery.xmleditor.js"></script>
<style>
ul {list-style-type:none !important}
li {list-style-type:none !important}

</style>
<body>
	<div class="wrapper">
	</div>
	<div id="xml_editor">
	</div>
	<script>
		$(function() {
			$("#xml_editor").xmlEditor({
				schemaObject : modsSchema,
				documentTitle : 'some title',
				ajaxOptions: {
						    	xmlRetrievalPath: "mods.xml",
								xmlUploadPath: "mods"
								}
			});
			
		});
	</script>
</body>