<div class='modal-header'>
  <h3 class='modal-title'><%= render_mods_display(@mods_display).title.first.html_safe %></h3>
  <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
</div>
<div class='modal-body'>
  <%= render 'purl_preview' %>
</div>
