<div class='modal-header'>
  <button type='button' class='ajax-modal-close close' data-dismiss='modal' aria-hidden='true'>×</button>
  <h3 class='modal-title'><%= render_mods_display(@mods_display).title.first.html_safe %></h3>
</div>
<div class='modal-body'>
  <%= render partial: 'purl_preview' %>
</div>
