<div data-ajax-modal="container">
  <h3 class="modal-title">Change source id</h3>
  <%=form_tag url_for(:controller => :items, :action => :source_id, :id => @object.pid) do%>
    <div class="form-group">
      <input class="longInputBox form-control" maxlength="255" name="new_id" id="new_id" type="text" value="<%=@object.identityMetadata.sourceId.gsub(':',' : ')%>"/>
    </div>
    <button class="btn btn-default">Update</button>
  <%end%>
</div>
