<div class='modal-header'>
  <h3 class="modal-title">Change source id</h3>
  <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
</div>
<div class='modal-body'>
  <%= render 'source_id_ui' %>
</div>
