<div class='modal-header'>
  <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
  <h3 class='modal-title'>Update tags or delete a tag</h3>
</div>
<div class='modal-body'>
  <%= render partial: 'tags_ui' %>
</div>
