<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.with_title { 'View descriptive metadata' } %>
  <% component.with_body do %>
    <div class="modal-body">
      <%= render ModsDisplay::RecordComponent.new(record: @mods_display,
                                                  fields: [:title] + ModsDisplay::RecordComponent::DEFAULT_FIELDS - [:subTitle]) %>
    </div>
  <% end %>
<% end %>
