<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.with_title { 'Dublin Core (derived from MODS)' } %>
  <% component.with_body do %>
    <div class="modal-body">
      <%= CodeRay::Duo[:xml, :div].highlight(@content).html_safe %>
    </div>
  <% end %>
<% end %>
