<turbo-frame id="barcode">
  <%= barcode %>
  <% if open? %>
    <%= link_to edit_barcode_item_path(id:), aria: { label: 'Edit barcode' } do %>
      <span class="bi-pencil"></span>
    <% end %>
  <% end %>
</turbo-frame>
