<turbo-frame id="barcode">
  <%= barcode %>
  <% if allows_modification? %>
    <%= link_to edit_barcode_item_path(id: id), aria: { label: 'Edit barcode' } do %>
      <span class="bi-pencil"></span>
    <% end %>
  <% end %>
</turbo-frame>
