<%= content_type %>

<% if open_and_not_processing? %>
  <%= link_to edit_item_content_type_path(item_id: id),
              aria: { label: 'Set content type' },
              data: { controller: 'button', action: 'click->button#open' } do %>
    <span class="bi-pencil"></span>
  <% end %>
<% end %>
