<%= collection %>

<% if open_and_not_processing? %>
  <%= link_to collection_ui_item_path(id:),
              aria: { label: 'Edit collections' },
              data: { controller: 'button', action: 'click->button#open' } do %>
    <span class="bi-pencil"></span>
  <% end %>
<% end %>
