<%= source_id %>

<% if edit? %>
  <%= link_to source_id_ui_item_path(id:),
              aria: { label: 'Change source id' },
              data: { controller: 'button', action: 'click->button#open' } do %>
    <span class="bi-pencil"></span>
  <% end %>
<% end %>
