<turbo-frame id="use_statement">
  <%= use_statement %>
  <% if open? %>
    <%= link_to edit_use_statement_item_path(id:), aria: { label: 'Edit use and reproduction' } do %>
      <span class="bi-pencil"></span>
    <% end %>
  <% end %>
</turbo-frame>
