// Overriding blacklight to keep the border-color
.applied-filter {
  .constraint-value {
    &:hover, &:active {
      border-color: $body-color;
    }
  }
}

.report-toggle {
  .dropdown-item.active {
    background-color: inherit;

    &::before {
      color: $text-muted;
      content: '• ';
      left: 10px;
      position: fixed;
    }
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

legend {
  border: 0;
}

.header-column {
  padding-left: 2px;
  padding-right: 2px;
}

#spreadsheet-upload-container {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 2px;
  margin-right: 2px;
}

#spreadsheet-log-table-container {
  height: 600px;
  overflow: auto;
}

.blacklight-wf_error_ssim {
  color: red;
}

.apo-register-error {
  color: red;
}

#report_container {
  margin-top: 1.5em;
}

.metadata-display {
  dl {
    dt {
      float: left;
      color: #555;
      min-width: 9.5em;
      padding: 0 5px 0 0;
      text-align: left;
      width: 11em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    dd {
      padding: 0;
      margin-left: 11.6em;
    }
  }
}

// This is used for highlighting XML when displaying Fedora 3 datastreams
.CodeRay {
  pre {
    border: 1px solid $gray-300;
    white-space: pre-wrap;
    padding: 9px;
  }
}

.ui-dialog {
  top: 200px !important;
}

#documents + .pagination {
  border-top-width: 1px;
}

#bulk-spreadsheet-warning {
  color: $color-cardinal-red;
}

#xmlEditForm {
  textarea {
    font-family: monospace;
    min-height: 400px;
  }
}

#buttons {
  margin-top: 6px;
}

.bulk-buttons-row {
  margin-top: 16px;
  margin-bottom: 16px;
}

#column_selector {
  border: 1px solid grey;
  margin-left: 110px;
  padding: 10px;
  width: 50%;
  font-size: 12px;
  line-height: 1.5;
}

.sharing {
  margin-bottom: 20px;
  margin-top: 20px;

  fieldset,
  legend {
    margin-bottom: 5px;
  }
}

.tab-pane {
  @extend .mt-3;
  @extend .mb-3;
}

.help-block {
  font-weight: bold;
}
