dl.deflist {
  clear: left !important;

  dt {
    text-align: left;
    width: 7.5em;
  }

  dd {
    width: 80%;
  }
}

.errortext {
  color: red;
  --bs-table-color: red; /* override bootstrap table text color */
}

.notetext {
  color: green;
  --bs-table-color: green; /* override bootstrap table text color */
}
