.document-component {
  .accordion-item {
    margin-bottom: 1rem;
    border-radius: 0.25rem;
  }
  .accordion-button {
    font-size: 1.75rem;
    font-weight: 500;
    padding: 0.3rem 0.7rem;
    border-radius: 0.25rem;
  }

  .section-head-link {
    font-weight: normal;
    margin-top: 8px;
    padding-right: 16px;
    position: absolute;
    right: 40px;
    z-index: 5;
  }

  #document-contents-section {
    .resource-list, .child-list {
      list-style-type: none;
    }

    .label {
      color: gray;

      &:after {
        content: ":";
      }
    }
  }

  #document-techmd-section {
    .file-list, .metadata-list {
      list-style-type: none;
    }

    .label {
      color: gray;

      &:after {
        content: ":";
      }
    }
  }

  // For events
  table.detail {
    thead {
      border-bottom: 1px solid;
    }

    th, td {
      font-weight: normal;
      text-align: left;
      padding: 0em 2em 0.25em 0em;
      border: none;
      vertical-align: top;
    }
  }
}
