div.document {
  h3.index_title {
    margin-left: 1.5em;
    text-indent: -1.5em;
  }

  div.document-thumb-container {
    float: right;
    margin-bottom: 1em;
  }

  &.has-thumbnail {
    min-height: 124px;
  }
}

dl.deflist {
  clear: left !important;

  dt {
    text-align: left;
    width: 7.5em;
  }

  dd {
    width: 80%;
  }
}

h1, h2, h3, h4, h5, h6 {
  &.inline {
    display: inline;
    width: 2em;
  }
}

.errortext {
  color: red;
}

.notetext {
  color: green;
}

.clear {
  clear: both;
}
