.icon-exclamation-sign {
  &::before {
    content: "⚠";
  }
}

.icon-remove-sign {
  &::before {
    content: "×";
  }
}

.icon-ok-sign {
  &::before {
    content: "✔️";
  }
}

.icon-question-sign {
  &::before {
    content: "❓";
  }
}

.icon-minus {
  &::before {
    content: "-";
  }
}

.icon-plus {
  &::before {
    content: "+";
  }
}

.icon-refresh {
  &::before {
    content: "↻";
  }
}

.icon-register {
  &::before {
    content: "⇄";
  }
}

.icon-tracking {
  &::before {
    content: "🗒";
  }
}

.registration-status {
  &.icon-exclamation-sign,
  &.icon-remove-sign {
    color: rgb(var(--bs-danger-rgb));
  }
}
