// Colors
// See https://identity.stanford.edu/design-elements/color/primary-colors/
$color-cardinal-red: #8c1515;

$blue: #00548f; // Digital blue dark in Stanford brand identity
$bright-blue: #006cb8; // Digital blue in Stanford brand identity
$silver-sand: #c0c0bf; // "30% black" in Stanford brand identity
$sonic-silver: #767674; // "60% black" in Stanford brand identity
$illuminating-light: #ffe781;
$sky-light: #67afd2;
$fog: #dad7cb;
$white: #fff;
