.dropdown-content {
  background-color: #f1f1f1;
  overflow-y: auto;
  max-height: 180px;
  label {
    padding: 5px 10px;
    cursor: pointer;
  }

  label:hover {
    background-color: #ddd;
  }
}

.text-cardinal {
  color: var(--stanford-cardinal);
}

.text-extraction-search-bar {
  input,
  input:focus {
    border: none;
    outline: none;
  }

  button {
    flex: 0 0 auto;
  }

  input {
    flex: 1;
  }
}
