//
// Overrides of Bootstrap variables can be added here. For more information
// about available Bootstrap variables, please see:
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss

:root {
  --stanford-illuminating-light: #ffe781;
  --stanford-sky-light: #67afd2;
  --stanford-fog: #dad7cb;
  --stanford-fog-light: #f4f4f4;
  --stanford-bay-light: #8ab8a7;
  --stanford-60-black: #767674;
  --stanford-stone-dark-rgb: 84, 73, 72;

  // non-standard colors (not part of Stanford's palette)
  --argo-floral-white: #f9f6ef;
  --argo-tahuna-sands: #d2c295;
}

// Accordion
$accordion-button-color: white;
$accordion-button-bg: var(--stanford-60-black);
$accordion-button-active-color: white;
$accordion-button-active-bg: var(--stanford-60-black);
$accordion-button-focus-box-shadow: 0 0 0.25rem 0.25rem
  rgba(var(--stanford-60-black), 0.25);
