//
// Overrides of Bootstrap variables can be added here. For more information
// about available Bootstrap variables, please see:
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss

@import 'sul_variables';

// define a palette
$barley-corn: #b3995d;
$floral-white: #f9f6ef;
$tahuna-sands: #d2c295;
$tea: #b6b1a9;
$silver: #c5c5c5;

// Override the theme colors
$primary: $color-cardinal-red;
$success: $barley-corn;

// Links
$link-color: $bright-blue;
$link-hover-color: $blue;
$link-decoration: none; // no underline

// Navbar
$navbar-dark-color: $white;

// Accordion
$accordion-button-color: $white;
$accordion-button-bg: $sonic-silver;
$accordion-button-active-color: $white;
$accordion-button-active-bg: $sonic-silver;
$accordion-button-focus-box-shadow: 0 0 0.25rem 0.25rem rgba($sonic-silver, 0.25);
