<turbo-frame id="bulk-action-form">
  <% if Settings.features.ocr_workflow || Settings.speech_to_text_workflow %>
    <%= render 'new' %>
  <% else %>
    <p>Text extraction job currently not available.</p>
  <% end %>
</turbo-frame>
