<div data-blacklight-modal="container">
  <div id="spreadsheet-upload-container">
  <%= form_tag(apo_uploads_path(params[:apo_id]), multipart: true, data: { controller: 'bulk-upload' }) do %>
    <div class="container-fluid">
      <div class="row mt-3">
        <div class="col-md-12">
            <strong>Submit MODS descriptive metadata for bulk processing</strong>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-2 spreadsheet-file-action-column">
          <%= label_tag :spreadsheet_file do %>
            <strong>1. Select</strong>
          <% end %>
        </div>
        <div class="col-md-9 spreadsheet-file-upload-column">
          <%= file_field_tag :spreadsheet_file, data: { action: 'change->bulk-upload#fileChanged', bulk_upload_target: 'file' }, class: 'form-control' %>
        </div>
      </div>

      <div class="row mt-3">
    <div class="col-md-2"><strong>2. Action</strong></div>
    <div class="col-md-10">
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" name="filetypes" id="filetypes_1" data-bulk-upload-target="radio" data-action="change->bulk-upload#enableSubmit" value="spreadsheet" class="form-check-input">
          Spreadsheet input; load into objects
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" name="filetypes" id="filetypes_2" data-bulk-upload-target="radio" data-action="change->bulk-upload#enableSubmit" value="xml" class="form-check-input">
          Spreadsheet input; convert to MODS, do not load
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" name="filetypes" id="convert_only" data-bulk-upload-target="radio" data-action="change->bulk-upload#enableSubmit" value="xml_only" class="form-check-input">
          MODS XML input; load into objects
        </label>
      </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-2">
          <label for="note_text" class="control-label"><strong>3. Note</strong></label>
        </div>
        <div class="col-md-10">
          <input type="text" class="form-control" id="note_text" data-bulk-upload-target="note" name="note" autocomplete="off">
        </div>
      </div>
      <div class="row mt-3 pb-2">
        <div class="col-md-2">
            <button type="submit" id="spreadsheet_submit" data-bulk-upload-target="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-md-2">
            <button type="button" id="spreadsheet_cancel" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
        </div>
        <div class="col-md-6">
          <span id="bulk-spreadsheet-warning"></span>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
