<%= form_with url: doi_assignment_job_path, class: 'new_bulk_action', data: { turbo_frame: '_top' } do |f| %>
  <%= render 'bulk_actions/errors' %>

  <span class='help-block'>
    Assign DOIs
  </span>

  <%= render 'bulk_actions/druids', f:, batch_size: Settings.datacite.batch_size %>
  <%= render 'bulk_actions/common_fields', f:, close_option: true %>
<% end %>
