<turbo-frame id="cocina_object">
  <%= tag.div data: {
        controller: 'json-renderer',
        json_renderer_cocina_value: CocinaHashPresenter.new(cocina_object: @cocina_object, without_metadata: true).render.to_json
      } do %>
    <a href="#" data-action="json-renderer#expand">Expand all</a> |
    <a href="#" data-action="json-renderer#collapse">Collapse all</a>

    <div class="detail" data-json-renderer-target="section"></div>
  <% end %>
</turbo-frame>
