// @import 'blacklight/hierarchy/hierarchy';
// Blacklight-hierarchy 3.0 doesn't pack it's styles. So this is copied in.
$text-muted: #777777 !default;

.facet-hierarchy {
  margin-left: -28px;

  ul {
    margin-left: 0;
    border-bottom: none;
    padding-bottom: 0;
    li {
      margin-left: 8px;
    }
  }
  .h-node {
    cursor: pointer;
    list-style-image: url("../images/blacklight-hierarchy/collapsed.png")
  }
  .h-node.twiddle-open {
    list-style-image: url("../images/blacklight-hierarchy/expanded.png");
  }
  .remove {
    color: $text-muted;
  }
}

// This is custom to argo
#facets {
  ul.facet-hierarchy {
    margin-left: -28px;

    .h-node {
      cursor: pointer;
    }
  }
}
