// Start moving registration styles to this pattern

.registration-status {
  &.icon-exclamation-sign {
    color: $danger;

    &::before {
      content: '⚠';
    }
  }

  &.icon-remove-sign {
    color: $danger;

    &::before {
      content: '×';
    }
  }

  &.icon-ok-sign {
    &::before {
      content: '✔️';
    }
  }

}
