// Colors
$color-cardinal-red: #8c1515;
// $beige-5-percent: #fbfbf9;
// $black: #000;
// $blackish: #2e2d29;
$blue: #00548f;
$bright-blue: #006cb8;
// $bright-red: #b1040e;
// $cardinal-red: #8c1515;
$cloud: #dad7cb;
// $cool-grey: #4d4f53;
// $gray: #3f3c30;
// $dark-gray: #777777;
// $light-sandstone: #f9f6ef;
// $mint: #009b76;
// $dark-mint: #00664e;
// $poppy: #e98300;
// $stone: #544948;
// $very-pale-orange: #ffe9c5;
// $very-pale-red: #ffe5ea;
$white: #fff;

//Variables
$sul-btn-secondary-color: #f2f1eb;
$sul-btn-secondary-border: $cloud;
