/*
  Stanford Web Colors
  from https://identity.stanford.edu/web-toolkit/color.html
*/

// Red
$color-cardinal-red: #8c1515;
$color-dark-red: #820000;

// Black
$color-blackish: #2e2d29;
$color-black-80: #585754;

// Warm Gray
$color-gray: #3f3c30;
$color-gray-90: #565347;
$color-gray-60: #8a887d;

// Sandstone
$color-sandstone: #ddcf99;
$color-sandstone-50: #eee6cb;
$color-sandstone-35: #f3efd8;
$color-sandstone-25: #f6f3e5;
$color-sandstone-20: #f8f6ea;

// Beige
$color-beige: #9d9573;
$color-beige-85: #aca68d;
$color-beige-60: #c4bfa9;
$color-beige-40: #d5d0c0;
$color-beige-30: #e3dfd5;
$color-beige-20: #e9e6df;
$color-beige-10: #f2f1eb;
$color-beige-05: #fbfbf9;
