<%# overridden from blacklight to put the sidebar on the left side %>
<% content_for(:content) do %>
  <section class="show-document col-md-12">
    <%= yield %>
  </section>
<% end %>
<%= render template: "layouts/blacklight/base" %>
