<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= @title %></title>
    <%= yield :head %>
  </head>
  <body>
    <%= image_tag 'webcrop.png', :id => 'logo', :alt => "WebCrop", :style => "margin: 6px 0 0 12px;" %>
    <%= yield %>
  </body>
</html>